# Introduction to Pandas

Pandas is a package built on top of numpy which incorporates many additional features which make it more convenient for data analysis. One main addition is the inclusion of row and column labels, which make pandas function much like spreadsheet software. It also includes tools for much more complex computations than regular numpy allows

In [1]:
import pandas as pd
import numpy as np
# by default, pandas only shows the beginning and end of a large dataframe
# You can choose how many rows and columns to show.
# If you want to see all of the rows, set the respective value to None
pd.options.display.max_rows = 100 
pd.options.display.max_columns = 50

## Importing data
There are a lot of built-in functions for importing data to pandas, for example, from files, database, and web sources. For a full list of the supported methods, see [the documentation on pandas](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html).

In this example, we're going to load data formatted as a csv from a website URL. In particular, it is a direct link to a file hosted in our course github repository.

The data we're loading is a simplified pokedex which includes the number, name, base stats, types, abilities, and colors of each pokemon. We'll be using this data to explore the functionality of pandas. 

The primary class of pandas is the DataFrame, which functions like a spreadsheet (like in excel). It allows for named rows and columns. Data types between two different columns can vary, but entries within the same column should have the same type.

In [2]:
# URL for data hosted online
pokedex_url = 'https://raw.githubusercontent.com/bwsi-remote-sensing-2023/01-Intro-to-python/master/pokedex.csv' 
pokedex_df = pd.read_csv(pokedex_url, index_col='Index') # create a dataframe from a csv, set the column titled "Index" as the row labels

In [3]:
# in our case, the cloned repository includes the pokedex file in the folder, 
# so we could equivalently use the filename instead of a URL
pokedex_df = pd.read_csv('pokedex.csv', index_col='Index')

In [4]:
# We'll do some cleanup to deal with empty values
pokedex_df = pokedex_df.fillna('') # fill in the NaN values with empty string 
pokedex_df # prints out the dataframe

,Pokemon,HP,Atk,Def,SpAtk,SpDef,Speed,Total,Type I,Type II,Ability I,Ability II,Hidden Ability,Color
Index,,,,,,,,,,,,,,
1.0,Bulbasaur,45,49,49,65,65,45,318,Grass,Poison,Overgrow,,Chlorophyll,Green
2.0,Ivysaur,60,62,63,80,80,60,405,Grass,Poison,Overgrow,,Chlorophyll,Green
3.0,Venusaur,80,82,83,100,100,80,525,Grass,Poison,Overgrow,,Chlorophyll,Green
4.0,Charmander,39,52,43,60,50,65,309,Fire,,Blaze,,Solar Power,Red
5.0,Charmeleon,58,64,58,80,65,80,405,Fire,,Blaze,,Solar Power,Red
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
798.0,Kartana,59,181,131,59,31,109,570,Grass,Steel,Beast Boost,,,White
799.0,Guzzlord,223,101,53,97,53,43,570,Dark,Dragon,Beast Boost,,,Black
800.0,Necrozma,97,107,101,127,89,79,600,Psychic,,Prism Armor,,,Black
801.0,Magearna,80,95,115,130,115,65,600,Steel,Fairy,Soul-Heart,,,Gray
802.0,Marshadow,90,125,80,90,90,125,600,Fighting,Ghost,Technician,,,Gray

## Indexing
Like numpy, you can index a dataframe to select elements or subsets of entries. There are a number of ways to index pandas dataframes. The two following methods are recommended:
`.loc[]` and `.iloc[]`

### .loc[ ] name-based indexing
The first way, using `.loc[a,b]` indexes based on the __values__ of the row index and column names. This allows us to get entries where the row index value equals `a` and the column name equals `b`.

In [5]:
# Get the entry for index value 745.1 - Lycanroc (midnight)
pokedex_df.loc[745.1]

Pokemon           Lycanroc (midnight)
HP                                 85
Atk                               115
Def                                75
SpAtk                              55
SpDef                              75
Speed                              82
Total                             487
Type I                           Rock
Type II
Ability I                    Keen Eye
Ability II              Vital Spirit
Hidden Ability               No Guard
Color                           Brown
Name: 745.1, dtype: object

In [6]:
# You can get specific column values for a single entry
pokedex_df.loc[250,['Pokemon','Type I','Type II']]

Pokemon    Swinub
Type I        Ice
Type II    Ground
Name: 250.0, dtype: object

In [7]:
# you can use the : notation to slice multiple rows and columns
pokedex_df.loc[690:700,'Pokemon':'Total']

          Pokemon   HP  Atk  Def  SpAtk  SpDef  Speed  Total
Index
690.0      Skrelp   50   60   60     60     60     30    320
691.0    Dragalge   65   75   90     97    123     44    494
692.0   Clauncher   50   53   62     58     63     44    330
693.0   Clawitzer   71   73   88    120     89     59    500
694.0  Helioptile   44   38   33     61     43     70    289
695.0   Heliolisk   62   55   52    109     94    109    481
696.0      Tyrunt   58   89   77     45     45     48    362
697.0   Tyrantrum   82  121  119     69     59     71    521
698.0      Amaura   77   59   50     67     63     46    362
699.0     Aurorus  123   77   72     99     92     58    521
700.0     Sylveon   95   65   65    110    130     60    525

In [8]:
# Similarly to numpy, you can use the : notation without indices on a side to mean "from beginning" or "to end"
pokedex_df.loc[:10,"Ability I":]

         Ability I Ability II Hidden Ability  Color
Index
1.0       Overgrow               Chlorophyll  Green
2.0       Overgrow               Chlorophyll  Green
3.0       Overgrow               Chlorophyll  Green
4.0          Blaze               Solar Power    Red
5.0          Blaze               Solar Power    Red
6.0          Blaze               Solar Power    Red
7.0        Torrent                 Rain Dish   Blue
8.0        Torrent                 Rain Dish   Blue
9.0        Torrent                 Rain Dish   Blue
10.0   Shield Dust                  Run Away  Green

In [9]:
# and : by itself gives all of the entries in that dimension
pokedex_df.loc[:,'Pokemon'].head(10) #just return top 10 entries

Index
1.0      Bulbasaur
2.0        Ivysaur
3.0       Venusaur
4.0     Charmander
5.0     Charmeleon
6.0      Charizard
7.0       Squirtle
8.0      Wartortle
9.0      Blastoise
10.0      Caterpie
Name: Pokemon, dtype: object

### .iloc[ ] integer indexing

The second way, using `.iloc[i,j]` uses the numpy-style integer indices to get a value. In this case, iloc takes integer values from 0 to the number of entries in that dimension. 

Like numpy, `.iloc[i,j]` gives the entry at the $i^{th}$ row and $j^{th}$ column.

In [10]:
pokedex_df.iloc[100] # gets 101st row (recall python counts from 0)

Pokemon            Electrode
HP                        60
Atk                       50
Def                       70
SpAtk                     80
SpDef                     80
Speed                    140
Total                    480
Type I              Electric
Type II
Ability I         Soundproof
Ability II            Static
Hidden Ability     Aftermath
Color                    Red
Name: 110.0, dtype: object

In [11]:
# The : style indexing also works for iloc
pokedex_df.iloc[25:30, 0:8]

         Pokemon  HP  Atk  Def  SpAtk  SpDef  Speed  Total
Index
27.0      Raichu  60   90   55     90     80    100    475
28.0   Sandshrew  50   75   85     20     30     40    300
29.0   Sandslash  75  100  110     45     55     65    450
30.0    Nidoran♀  55   47   52     40     40     41    275
31.0    Nidorina  70   62   67     55     55     56    365

## Changing index column
You can change the index column of the dataframe with `.set_index()` or reset it to default numerical indexing with `.reset_index()`.

Note however, that these operations create a __copy__ of the original dataframe, and do not change the dataframe "in place" (i.e. doesn't change the original object)

In [12]:
# reset index to be default numerical index
reindexed_pokedex = pokedex_df.reset_index()
reindexed_pokedex.head()

,Index,Pokemon,HP,Atk,Def,SpAtk,SpDef,Speed,Total,Type I,Type II,Ability I,Ability II,Hidden Ability,Color
0,1.0,Bulbasaur,45,49,49,65,65,45,318,Grass,Poison,Overgrow,,Chlorophyll,Green
1,2.0,Ivysaur,60,62,63,80,80,60,405,Grass,Poison,Overgrow,,Chlorophyll,Green
2,3.0,Venusaur,80,82,83,100,100,80,525,Grass,Poison,Overgrow,,Chlorophyll,Green
3,4.0,Charmander,39,52,43,60,50,65,309,Fire,,Blaze,,Solar Power,Red
4,5.0,Charmeleon,58,64,58,80,65,80,405,Fire,,Blaze,,Solar Power,Red

In [13]:
# Change the index to the Pokemon name column
pokedex_indexed_by_name = pokedex_df.reset_index().set_index('Pokemon')
pokedex_indexed_by_name

,Index,HP,Atk,Def,SpAtk,SpDef,Speed,Total,Type I,Type II,Ability I,Ability II,Hidden Ability,Color
Pokemon,,,,,,,,,,,,,,
Bulbasaur,1.0,45,49,49,65,65,45,318,Grass,Poison,Overgrow,,Chlorophyll,Green
Ivysaur,2.0,60,62,63,80,80,60,405,Grass,Poison,Overgrow,,Chlorophyll,Green
Venusaur,3.0,80,82,83,100,100,80,525,Grass,Poison,Overgrow,,Chlorophyll,Green
Charmander,4.0,39,52,43,60,50,65,309,Fire,,Blaze,,Solar Power,Red
Charmeleon,5.0,58,64,58,80,65,80,405,Fire,,Blaze,,Solar Power,Red
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Kartana,798.0,59,181,131,59,31,109,570,Grass,Steel,Beast Boost,,,White
Guzzlord,799.0,223,101,53,97,53,43,570,Dark,Dragon,Beast Boost,,,Black
Necrozma,800.0,97,107,101,127,89,79,600,Psychic,,Prism Armor,,,Black
Magearna,801.0,80,95,115,130,115,65,600,Steel,Fairy,Soul-Heart,,,Gray
Marshadow,802.0,90,125,80,90,90,125,600,Fighting,Ghost,Technician,,,Gray

In [14]:
# note that the original dataframe was not affected
pokedex_df

,Pokemon,HP,Atk,Def,SpAtk,SpDef,Speed,Total,Type I,Type II,Ability I,Ability II,Hidden Ability,Color
Index,,,,,,,,,,,,,,
1.0,Bulbasaur,45,49,49,65,65,45,318,Grass,Poison,Overgrow,,Chlorophyll,Green
2.0,Ivysaur,60,62,63,80,80,60,405,Grass,Poison,Overgrow,,Chlorophyll,Green
3.0,Venusaur,80,82,83,100,100,80,525,Grass,Poison,Overgrow,,Chlorophyll,Green
4.0,Charmander,39,52,43,60,50,65,309,Fire,,Blaze,,Solar Power,Red
5.0,Charmeleon,58,64,58,80,65,80,405,Fire,,Blaze,,Solar Power,Red
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
798.0,Kartana,59,181,131,59,31,109,570,Grass,Steel,Beast Boost,,,White
799.0,Guzzlord,223,101,53,97,53,43,570,Dark,Dragon,Beast Boost,,,Black
800.0,Necrozma,97,107,101,127,89,79,600,Psychic,,Prism Armor,,,Black
801.0,Magearna,80,95,115,130,115,65,600,Steel,Fairy,Soul-Heart,,,Gray
802.0,Marshadow,90,125,80,90,90,125,600,Fighting,Ghost,Technician,,,Gray

## Logical indexing
You can test conditionals on a column, for example, testing if the value of the column is greater than a value. What's returned is a boolean column of the same size, with a value of `True` wherever it is true, and `False` otherwise. (This can similarly be done in numpy).

In [15]:
pokedex_df['Total'] > 520

Index
1.0      False
2.0      False
3.0       True
4.0      False
5.0      False
         ...
798.0     True
799.0     True
800.0     True
801.0     True
802.0     True
Name: Total, Length: 820, dtype: bool

If you take that boolean column and use it to index the dataframe, you can get all of the entries that satisfy that condition.

In [16]:
pokedex_df.loc[pokedex_df['Total']>520] # all of the pokemon with total base stats greater than 500

,Pokemon,HP,Atk,Def,SpAtk,SpDef,Speed,Total,Type I,Type II,Ability I,Ability II,Hidden Ability,Color
Index,,,,,,,,,,,,,,
3.0,Venusaur,80,82,83,100,100,80,525,Grass,Poison,Overgrow,,Chlorophyll,Green
6.0,Charizard,78,84,78,109,85,100,534,Fire,Flying,Blaze,,Solar Power,Red
9.0,Blastoise,79,83,100,85,105,78,530,Water,,Torrent,,Rain Dish,Blue
64.0,Arcanine,90,110,80,100,80,95,555,Fire,,Intimidate,Flash Fire,Justified,Brown
154.0,Gyarados,95,125,79,60,100,81,540,Water,Flying,Intimidate,,Moxie,Blue
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
798.0,Kartana,59,181,131,59,31,109,570,Grass,Steel,Beast Boost,,,White
799.0,Guzzlord,223,101,53,97,53,43,570,Dark,Dragon,Beast Boost,,,Black
800.0,Necrozma,97,107,101,127,89,79,600,Psychic,,Prism Armor,,,Black
801.0,Magearna,80,95,115,130,115,65,600,Steel,Fairy,Soul-Heart,,,Gray
802.0,Marshadow,90,125,80,90,90,125,600,Fighting,Ghost,Technician,,,Gray

In [17]:
pokedex_df.loc[pokedex_df['Total']>520,'Pokemon':'Def']

         Pokemon   HP  Atk  Def
Index
3.0     Venusaur   80   82   83
6.0    Charizard   78   84   78
9.0    Blastoise   79   83  100
64.0    Arcanine   90  110   80
154.0   Gyarados   95  125   79
...          ...  ...  ...  ...
798.0    Kartana   59  181  131
799.0   Guzzlord  223  101   53
800.0   Necrozma   97  107  101
801.0   Magearna   80   95  115
802.0  Marshadow   90  125   80

[151 rows x 4 columns]

In [18]:
first_100 = pokedex_df.loc[pokedex_df['Total']>520].head(100)
# print(first_100) #print looks close to CSV file
first_100 #looks like a pandas file
# first_100.head(100)

,Pokemon,HP,Atk,Def,SpAtk,SpDef,Speed,Total,Type I,Type II,Ability I,Ability II,Hidden Ability,Color
Index,,,,,,,,,,,,,,
3.0,Venusaur,80,82,83,100,100,80,525,Grass,Poison,Overgrow,,Chlorophyll,Green
6.0,Charizard,78,84,78,109,85,100,534,Fire,Flying,Blaze,,Solar Power,Red
9.0,Blastoise,79,83,100,85,105,78,530,Water,,Torrent,,Rain Dish,Blue
64.0,Arcanine,90,110,80,100,80,95,555,Fire,,Intimidate,Flash Fire,Justified,Brown
154.0,Gyarados,95,125,79,60,100,81,540,Water,Flying,Intimidate,,Moxie,Blue
155.0,Lapras,130,85,80,85,95,60,535,Water,Ice,Water Absorb,Shell Armor,Hydration,Blue
158.0,Vaporeon,130,65,60,110,95,65,525,Water,,Water Absorb,,Hydration,Blue
159.0,Jolteon,65,65,60,110,95,130,525,Electric,,Volt Absorb,,Quick Feet,Yellow
160.0,Flareon,65,130,60,95,110,65,525,Fire,,Flash Fire,,Guts,Red
174.0,Snorlax,160,110,65,65,110,30,540,Normal,,Immunity,Thick Fat,Gluttony,Black
175.0,Articuno,90,85,100,95,125,85,580,Ice,Flying,Pressure,,Snow Cloak,Blue
176.0,Zapdos,90,90,85,125,90,100,580,Electric,Flying,Pressure,,Lightningrod,Yellow
177.0,Moltres,90,100,90,125,85,90,580,Fire,Flying,Pressure,,Flame Body,Yellow
180.0,Dragonite,91,134,95,100,100,80,600,Dragon,Flying,Inner Focus,,Multiscale,Brown
181.0,Mewtwo,106,110,90,154,90,130,680,Psychic,,Pressure,,Unnerve,Purple
182.0,Mew,100,100,100,100,100,100,600,Psychic,,Synchronize,,,Pink
185.0,Meganium,80,82,100,83,100,80,525,Grass,,Overgrow,,Leaf Guard,Green
188.0,Typhlosion,78,84,78,109,85,100,534,Fire,,Blaze,,Flash Fire,Yellow
191.0,Feraligatr,85,105,100,79,83,78,530,Water,,Torrent,,Sheer Force,Blue
46.0,Crobat,85,90,80,70,80,130,535,Poison,Flying,Inner Focus,,Infiltrator,Purple
161.0,Espeon,65,65,60,130,95,110,525,Psychic,,Synchronize,,Magic Bounce,Purple
162.0,Umbreon,95,65,110,60,130,65,525,Dark,,Synchronize,,Inner Focus,Black
134.0,Kingdra,75,95,95,95,95,85,540,Water,Dragon,Swift Swim,Sniper,Damp,Blue
128.0,Blissey,255,10,10,75,135,55,540,Normal,,Natural Cure,Serene Grace,Healer,Pink
267.0,Raikou,90,85,75,115,100,115,580,Electric,,Pressure,,Volt Absorb,Yellow
268.0,Entei,115,115,85,90,75,100,580,Fire,,Pressure,,Flash Fire,Brown
269.0,Suicune,100,75,115,90,115,85,580,Water,,Pressure,,Water Absorb,Blue
272.0,Tyranitar,100,134,110,95,100,61,600,Rock,Dark,Sand Stream,,Unnerve,Green
273.0,Lugia,106,90,130,90,154,110,680,Psychic,Flying,Pressure,,Multiscale,White
274.0,Ho-oh,106,130,90,110,154,90,680,Fire,Flying,Pressure,,Regenerator,Red
275.0,Celebi,100,100,100,100,100,100,600,Psychic,Grass,Natural Cure,,,Green
278.0,Sceptile,70,85,65,105,85,120,530,Grass,,Overgrow,,Unburden,Green
281.0,Blaziken,80,120,70,110,70,80,530,Fire,Fighting,Blaze,,Speed Boost,Red
284.0,Swampert,100,110,90,85,90,60,535,Water,Ground,Torrent,,Damp,Blue
314.0,Slaking,150,160,100,95,65,100,670,Normal,,Truant,,,Brown
331.0,Aggron,70,110,180,60,60,50,530,Steel,Rock,Sturdy,Rock Head,Heavy Metal,Gray
377.0,Milotic,95,60,79,100,125,81,540,Water,,Marvel Scale,,Cute Charm,Pink
394.0,Walrein,110,80,90,95,90,65,530,Ice,Water,Thick Fat,Ice Body,Oblivious,Blue
402.0,Salamence,95,135,80,110,80,100,600,Dragon,Flying,Intimidate,,Moxie,Blue
405.0,Metagross,80,135,130,95,90,70,600,Steel,Psychic,Clear Body,,Light Metal,Blue
406.0,Regirock,80,100,200,50,100,50,580,Rock,,Clear Body,,Sturdy,Brown
407.0,Regice,80,50,100,100,200,50,580,Ice,,Clear Body,,Ice Body,Blue
408.0,Registeel,80,75,150,75,150,50,580,Steel,,Clear Body,,Light Metal,Gray
409.0,Latias,80,80,90,110,130,110,600,Dragon,Psychic,Levitate,,,Red
410.0,Latios,80,90,80,130,110,110,600,Dragon,Psychic,Levitate,,,Blue
411.0,Kyogre,100,100,90,150,140,90,670,Water,,Drizzle,,,Blue
412.0,Groudon,100,150,140,100,90,90,670,Ground,,Drought,,,Red
413.0,Rayquaza,105,150,90,150,90,95,680,Dragon,Flying,Air Lock,,,Green
414.0,Jirachi,100,100,100,100,100,100,600,Steel,Psychic,Serene Grace,,,Yellow
415.0,Deoxys (N),50,150,50,150,50,150,600,Psychic,,Pressure,,,Red
415.1,Deoxys (A),50,180,20,180,20,150,600,Psychic,,Pressure,,,Red
415.2,Deoxys (D),50,70,160,70,160,90,600,Psychic,,Pressure,,,Red
415.3,Deoxys (S),50,95,90,95,90,180,600,Psychic,,Pressure,,,Red
418.0,Torterra,95,109,105,75,85,56,525,Grass,Ground,Overgrow,,Shell Armor,Green
421.0,Infernape,76,104,71,104,71,108,534,Fire,Fighting,Blaze,,Iron Fist,Brown
424.0,Empoleon,84,86,88,111,101,60,530,Water,Steel,Torrent,,Defiant,Blue
434.0,Luxray,80,120,79,95,79,70,523,Electric,,Rivalry,Intimidate,Guts,Blue
465.0,Garchomp,108,130,95,80,85,102,600,Dragon,Ground,Sand Veil,,Rough Skin,Blue
467.0,Lucario,70,110,70,115,70,90,525,Fighting,Steel,Steadfast,Inner Focus,Justified,Blue
469.0,Hippowdon,108,112,118,68,72,47,525,Ground,,Sand Stream,,Sand Force,Brown
90.0,Magnezone,70,70,115,130,90,60,535,Electric,Steel,Magnet Pull,Sturdy,Analytic,Gray
125.0,Rhyperior,115,140,130,55,55,40,535,Ground,Rock,Lightningrod,Solid Rock,Reckless,Gray
130.0,Tangrowth,100,100,125,110,50,50,535,Grass,,Chlorophyll,Leaf Guard,Regenerator,Blue
147.0,Electivire,75,123,67,95,85,95,540,Electric,,Motor Drive,,Vital Spirit,Yellow
150.0,Magmortar,75,95,67,125,95,83,540,Fire,,Flame Body,,Vital Spirit,Red
204.0,Togekiss,85,50,95,120,115,80,545,Fairy,Flying,Hustle,Serene Grace,Super Luck,White
163.0,Leafeon,65,110,130,60,65,95,525,Grass,,Leaf Guard,,Chlorophyll,Green
164.0,Glaceon,65,60,110,130,95,65,525,Ice,,Snow Cloak,,Ice Body,Blue
252.0,Mamoswine,110,130,80,70,60,80,530,Ice,Ground,Oblivious,Snow Cloak,Thick Fat,Brown
167.0,Porygon-Z,85,80,70,135,75,90,535,Normal,,Adaptability,Download,Analytic,Red
324.0,Probopass,60,55,145,75,150,40,525,Rock,Steel,Sturdy,Magnet Pull,Sand Force,Gray
384.0,Dusknoir,45,100,135,65,135,45,525,Ghost,,Pressure,,,Black
480.0,Uxie,75,75,130,75,130,95,580,Psychic,,Levitate,,,Yellow
481.0,Mesprit,80,105,105,105,105,80,580,Psychic,,Levitate,,,Pink
482.0,Azelf,75,125,70,125,70,115,580,Psychic,,Levitate,,,Blue
483.0,Dialga,100,120,120,150,100,90,680,Steel,Dragon,Pressure,,Telepathy,White
484.0,Palkia,90,120,100,150,120,100,680,Water,Dragon,Pressure,,Telepathy,Purple
485.0,Heatran,91,90,106,130,106,77,600,Fire,Steel,Flash Fire,,Flame Body,Brown
486.0,Regigigas,110,160,110,80,110,100,670,Normal,,Slow Start,,,White
487.0,Giratina,150,100,120,100,120,90,680,Ghost,Dragon,Pressure,,Telepathy,Black
487.1,Giratina (O),150,120,100,120,100,90,680,Ghost,Dragon,Levitate,,,Black
488.0,Cresselia,120,70,120,75,130,85,600,Psychic,,Levitate,,,Yellow
490.0,Manaphy,100,100,100,100,100,100,600,Water,,Hydration,,,Blue
491.0,Darkrai,70,90,90,135,90,125,600,Dark,,Bad Dreams,,,Black
492.0,Shaymin,100,100,100,100,100,100,600,Grass,,Natural Cure,,,Green
492.1,Shaymin (S),100,103,75,120,75,127,600,Grass,Flying,Serene Grace,,,Green
493.0,Arceus,120,120,120,120,120,120,720,Normal,,Multitype,,,Gray
494.0,Victini,100,100,100,100,100,100,600,Psychic,Fire,Victory Star,,,Yellow
497.0,Serperior,75,75,95,75,95,113,528,Grass,,Overgrow,,Contrary,Green
500.0,Emboar,110,123,65,100,65,65,528,Fire,Fighting,Blaze,,Reckless,Red
503.0,Samurott,95,100,85,108,70,70,528,Water,,Torrent,,Shell Armor,Blue
555.1,Darmanitan (Z),105,30,105,140,105,55,540,Fire,Psychic,,,Zen Mode,Red
567.0,Archeops,75,140,65,112,65,110,567,Rock,Flying,Defeatist,,,Yellow
584.0,Vanilluxe,71,95,85,110,95,79,535,Ice,,Ice Body,,Weak Armor,White
612.0,Haxorus,76,147,90,60,70,97,540,Dragon,,Rivalry,Mold Breaker,Unnerve,Yellow
635.0,Hydreigon,92,105,90,125,90,98,600,Dark,Dragon,Levitate,,,Blue
637.0,Volcarona,85,60,65,135,105,100,550,Bug,Fire,Flame Body,,Swarm,White
638.0,Cobalion,91,90,129,90,72,108,580,Steel,Fighting,Justified,,,Blue
639.0,Terrakion,91,129,90,72,90,108,580,Rock,Fighting,Justified,,,Gray
640.0,Virizion,91,90,72,90,129,108,580,Grass,Fighting,Justified,,,Green

In [19]:
# Get all of the pokemon of a given color
pokedex_df.loc[pokedex_df['Color']=='Black']

,Pokemon,HP,Atk,Def,SpAtk,SpDef,Speed,Total,Type I,Type II,Ability I,Ability II,Hidden Ability,Color
Index,,,,,,,,,,,,,,
174.0,Snorlax,160,110,65,65,110,30,540,Normal,,Immunity,Thick Fat,Gluttony,Black
162.0,Umbreon,95,65,110,60,130,65,525,Dark,,Synchronize,,Inner Focus,Black
226.0,Murkrow,60,85,42,85,42,91,405,Dark,Flying,Insomnia,Super Luck,Prankster,Black
230.0,Unown,48,72,48,72,48,48,336,Psychic,,Levitate,,,Black
244.0,Sneasel,55,95,55,35,75,115,430,Dark,Ice,Inner Focus,Keen Eye,Pickpocket,Black
260.0,Houndour,45,60,30,80,50,65,330,Dark,Fire,Early Bird,Flash Fire,Unnerve,Black
261.0,Houndoom,75,90,50,110,80,95,500,Dark,Fire,Early Bird,Flash Fire,Unnerve,Black
328.0,Mawile,50,85,85,55,55,50,380,Steel,Fairy,Hyper Cutter,Intimidate,Sheer Force,Black
352.0,Spoink,60,25,35,70,80,60,330,Psychic,,Thick Fat,Own Tempo,Gluttony,Black
363.0,Seviper,73,100,60,100,60,65,458,Poison,,Shed Skin,,Infiltrator,Black
371.0,Claydol,60,70,105,70,120,75,500,Ground,Psychic,Levitate,,,Black
380.0,Shuppet,44,75,35,63,33,45,295,Ghost,,Insomnia,Frisk,Cursed Body,Black
381.0,Banette,64,115,65,83,63,65,455,Ghost,,Insomnia,Frisk,Cursed Body,Black
382.0,Duskull,20,40,90,30,90,25,295,Ghost,,Levitate,,,Black
383.0,Dusclops,40,70,130,60,130,25,455,Ghost,,Pressure,,,Black
227.0,Honchkrow,100,125,52,105,52,71,505,Dark,Flying,Insomnia,Super Luck,Moxie,Black
461.0,Chatot,76,65,45,92,42,91,411,Normal,Flying,Keen Eye,Tangled Feet,Big Pecks,Black
173.0,Munchlax,135,85,40,40,85,5,390,Normal,,Pickup,Thick Fat,Gluttony,Black
245.0,Weavile,70,120,65,45,85,125,510,Dark,Ice,Pressure,,Pickpocket,Black
384.0,Dusknoir,45,100,135,65,135,45,525,Ghost,,Pressure,,,Black
487.0,Giratina,150,100,120,100,120,90,680,Ghost,Dragon,Pressure,,Telepathy,Black
487.1,Giratina (O),150,120,100,120,100,90,680,Ghost,Dragon,Levitate,,,Black
491.0,Darkrai,70,90,90,135,90,125,600,Dark,,Bad Dreams,,,Black
522.0,Blitzle,45,60,32,50,32,76,295,Electric,,Lightningrod,Motor Drive,Sap Sipper,Black
523.0,Zebstrika,75,100,63,80,63,116,497,Electric,,Lightningrod,Motor Drive,Sap Sipper,Black
561.0,Sigilyph,72,58,80,103,80,97,490,Psychic,Flying,Wonder Skin,Magic Guard,Tinted Lens,Black
562.0,Yamask,38,30,85,55,65,30,303,Ghost,,Mummy,,,Black
608.0,Lampent,60,40,60,95,60,55,370,Ghost,Fire,Flash Fire,Flame Body,Shadow Tag,Black
609.0,Chandelure,60,55,90,145,90,80,520,Ghost,Fire,Flash Fire,Flame Body,Shadow Tag,Black
644.0,Zekrom,100,150,120,120,100,90,680,Dragon,Electric,Teravolt,,,Black
664.0,Scatterbug,38,35,40,27,25,35,200,Bug,,Shield Dust,Compound Eyes,Friend Guard,Black
665.0,Spewpa,45,22,60,27,30,29,213,Bug,,Shed Skin,,Friend Guard,Black
666.0,Vivillon,80,52,50,90,50,89,411,Bug,Flying,Shield Dust,Compound Eyes,Friend Guard,Black
731.0,Pikipek,35,75,30,30,30,65,265,Normal,Flying,Keen Eye,Skill Link,Pickup,Black
732.0,Trumbeak,55,85,50,40,50,75,355,Normal,Flying,Keen Eye,Skill Link,Pickup,Black
733.0,Toucannon,80,120,75,75,75,60,485,Normal,Flying,Keen Eye,Skill Link,Sheer Force,Black
757.0,Salandit,48,44,40,71,40,77,320,Poison,Fire,Corrosion,Oblivious,Oblivious,Black
758.0,Salazzle,68,64,60,111,60,117,480,Poison,Fire,Corrosion,Oblivious,Oblivious,Black
771.0,Pyukumuku,55,60,130,30,130,5,410,Water,,Innards Out,Unaware,Unaware,Black
796.0,Xurkitree,83,89,71,173,71,83,570,Electric,,Beast Boost,,,Black
799.0,Guzzlord,223,101,53,97,53,43,570,Dark,Dragon,Beast Boost,,,Black
800.0,Necrozma,97,107,101,127,89,79,600,Psychic,,Prism Armor,,,Black

In [20]:
pokedex_df.loc[pokedex_df['Color']!='Black']

,Pokemon,HP,Atk,Def,SpAtk,SpDef,Speed,Total,Type I,Type II,Ability I,Ability II,Hidden Ability,Color
Index,,,,,,,,,,,,,,
1.0,Bulbasaur,45,49,49,65,65,45,318,Grass,Poison,Overgrow,,Chlorophyll,Green
2.0,Ivysaur,60,62,63,80,80,60,405,Grass,Poison,Overgrow,,Chlorophyll,Green
3.0,Venusaur,80,82,83,100,100,80,525,Grass,Poison,Overgrow,,Chlorophyll,Green
4.0,Charmander,39,52,43,60,50,65,309,Fire,,Blaze,,Solar Power,Red
5.0,Charmeleon,58,64,58,80,65,80,405,Fire,,Blaze,,Solar Power,Red
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795.0,Pheromosa,71,137,37,137,37,151,570,Bug,Fighting,Beast Boost,,,White
797.0,Celesteela,97,101,103,107,101,61,570,Steel,Flying,Beast Boost,,,Green
798.0,Kartana,59,181,131,59,31,109,570,Grass,Steel,Beast Boost,,,White
801.0,Magearna,80,95,115,130,115,65,600,Steel,Fairy,Soul-Heart,,,Gray
802.0,Marshadow,90,125,80,90,90,125,600,Fighting,Ghost,Technician,,,Gray

### Compound boolean queries
You can use boolean operations (OR, AND, NOT) to combine conditions

We will look for pokemon with specific types to demonstrate compound queries

### OR queries
In the following example, we query for all pokemon who have at least part "Dragon" typing.

The vertical line | represents the element-wise "OR" operation. "OR" operations require either or both statements on either side of the operation to be true.

Thus, the below query 

```query = (pokedex_df['Type I']=='Dragon') | (pokedex_df['Type II']=='Dragon')```

asks, for each row, if 'Type I' is equal to "Dragon" OR 'Type II' is equal to "Dragon"

In [21]:
query = (pokedex_df['Type I']=='Dragon') | (pokedex_df['Type II']=='Dragon')

#|\
pokedex_df.loc[query] # Get all of the entries corresponding to the above query

,Pokemon,HP,Atk,Def,SpAtk,SpDef,Speed,Total,Type I,Type II,Ability I,Ability II,Hidden Ability,Color
Index,,,,,,,,,,,,,,
178.0,Dratini,41,64,45,50,50,50,300,Dragon,,Shed Skin,,Marvel Scale,Blue
179.0,Dragonair,61,84,65,70,70,70,420,Dragon,,Shed Skin,,Marvel Scale,Blue
180.0,Dragonite,91,134,95,100,100,80,600,Dragon,Flying,Inner Focus,,Multiscale,Brown
134.0,Kingdra,75,95,95,95,95,85,540,Water,Dragon,Swift Swim,Sniper,Damp,Blue
356.0,Vibrava,50,70,50,50,50,70,340,Ground,Dragon,Levitate,,,Green
357.0,Flygon,80,100,80,80,80,100,520,Ground,Dragon,Levitate,,,Green
361.0,Altaria,75,70,90,70,105,80,490,Dragon,Flying,Natural Cure,,Cloud Nine,Blue
400.0,Bagon,45,75,60,40,30,50,300,Dragon,,Rock Head,,Sheer Force,Blue
401.0,Shelgon,65,95,100,60,50,50,420,Dragon,,Rock Head,,Overcoat,White
402.0,Salamence,95,135,80,110,80,100,600,Dragon,Flying,Intimidate,,Moxie,Blue
409.0,Latias,80,80,90,110,130,110,600,Dragon,Psychic,Levitate,,,Red
410.0,Latios,80,90,80,130,110,110,600,Dragon,Psychic,Levitate,,,Blue
413.0,Rayquaza,105,150,90,150,90,95,680,Dragon,Flying,Air Lock,,,Green
463.0,Gible,58,70,45,40,45,42,300,Dragon,Ground,Sand Veil,,Rough Skin,Blue
464.0,Gabite,68,90,65,50,55,82,410,Dragon,Ground,Sand Veil,,Rough Skin,Blue
465.0,Garchomp,108,130,95,80,85,102,600,Dragon,Ground,Sand Veil,,Rough Skin,Blue
483.0,Dialga,100,120,120,150,100,90,680,Steel,Dragon,Pressure,,Telepathy,White
484.0,Palkia,90,120,100,150,120,100,680,Water,Dragon,Pressure,,Telepathy,Purple
487.0,Giratina,150,100,120,100,120,90,680,Ghost,Dragon,Pressure,,Telepathy,Black
487.1,Giratina (O),150,120,100,120,100,90,680,Ghost,Dragon,Levitate,,,Black
610.0,Axew,46,87,60,30,40,57,320,Dragon,,Rivalry,Mold Breaker,Unnerve,Green
611.0,Fraxure,66,117,70,40,50,67,410,Dragon,,Rivalry,Mold Breaker,Unnerve,Green
612.0,Haxorus,76,147,90,60,70,97,540,Dragon,,Rivalry,Mold Breaker,Unnerve,Yellow
621.0,Druddigon,77,120,90,60,90,48,485,Dragon,,Rough Skin,Sheer Force,Mold Breaker,Red
633.0,Deino,52,65,50,45,50,38,300,Dark,Dragon,Hustle,,,Blue
634.0,Zweilous,72,85,70,65,70,58,420,Dark,Dragon,Hustle,,,Blue
635.0,Hydreigon,92,105,90,125,90,98,600,Dark,Dragon,Levitate,,,Blue
643.0,Reshiram,100,120,100,150,120,90,680,Dragon,Fire,Turboblaze,,,White
644.0,Zekrom,100,150,120,120,100,90,680,Dragon,Electric,Teravolt,,,Black
646.0,Kyurem,125,130,90,130,90,95,660,Dragon,Ice,Pressure,,,Gray
691.0,Dragalge,65,75,90,97,123,44,494,Poison,Dragon,Poison Point,Poison Touch,Adaptability,Brown
696.0,Tyrunt,58,89,77,45,45,48,362,Rock,Dragon,Strong Jaw,,Sturdy,Brown
697.0,Tyrantrum,82,121,119,69,59,71,521,Rock,Dragon,Strong Jaw,,Sturdy,Red
704.0,Goomy,45,50,35,55,75,40,300,Dragon,,Sap Sipper,Hydration,Gooey,Purple
705.0,Sliggoo,68,75,53,83,113,60,452,Dragon,,Sap Sipper,Hydration,Gooey,Purple
706.0,Goodra,90,100,70,110,150,80,600,Dragon,,Sap Sipper,Hydration,Gooey,Purple
714.0,Noibat,40,30,35,45,40,55,245,Flying,Dragon,Frisk,Infiltrator,Telepathy,Purple
715.0,Noivern,85,70,80,97,80,123,535,Flying,Dragon,Frisk,Infiltrator,Telepathy,Purple
718.0,Zygarde,108,100,121,81,95,95,600,Dragon,Ground,Aura Break,,,Green
776.0,Turtonator,60,78,135,91,85,36,485,Fire,Dragon,Shell Armor,,,Red
780.0,Drampa,78,60,85,135,91,36,485,Normal,Dragon,Berserk,Sap Sipper,Cloud Nine,White
782.0,Jangmo-o,45,55,65,45,45,45,300,Dragon,,Bulletproof,Soundproof,Overcoat,Gray
783.0,Hakamo-o,55,75,90,65,70,65,420,Dragon,Fighting,Bulletproof,Soundproof,Overcoat,Gray
784.0,Kommo-o,75,110,125,100,105,85,600,Dragon,Fighting,Bulletproof,Soundproof,Overcoat,Gray
799.0,Guzzlord,223,101,53,97,53,43,570,Dark,Dragon,Beast Boost,,,Black

In [22]:
(pokedex_df['Type I']=='Dragon').all()

False

In [23]:
# (pokedex_df['Type I']=='Dragon') | (pokedex_df['Type II']=='Dragon').all()
(query[query]).all()
(pokedex_df['Type I']!=None).all()

True

### AND queries
The ampersand `&` character represents the element-wise boolean operation "AND". In order for an "AND" statement to be true, both conditions on either side of the operation must be true.

We can combine boolean operations to construct complex queries: for example, getting all pokemon who are both Dragon and Flying types. The query below looks for pokemon who are EITHER (Primary Type "Flying" AND Secondary Type "Dragon") OR (Primary Type "Dragon" AND Secondary Type "Flying")

Note that parentheses should be used to group operations so that the order of operations is clear

In [24]:
# you can use the backslash operator \ to continue code on the next line
query = ((pokedex_df['Type I']=='Flying') & (pokedex_df['Type II']=='Dragon'))\
        | ((pokedex_df['Type I']=='Dragon') & (pokedex_df['Type II']=='Flying'))
pokedex_df.loc[query]

,Pokemon,HP,Atk,Def,SpAtk,SpDef,Speed,Total,Type I,Type II,Ability I,Ability II,Hidden Ability,Color
Index,,,,,,,,,,,,,,
180.0,Dragonite,91,134,95,100,100,80,600,Dragon,Flying,Inner Focus,,Multiscale,Brown
361.0,Altaria,75,70,90,70,105,80,490,Dragon,Flying,Natural Cure,,Cloud Nine,Blue
402.0,Salamence,95,135,80,110,80,100,600,Dragon,Flying,Intimidate,,Moxie,Blue
413.0,Rayquaza,105,150,90,150,90,95,680,Dragon,Flying,Air Lock,,,Green
714.0,Noibat,40,30,35,45,40,55,245,Flying,Dragon,Frisk,Infiltrator,Telepathy,Purple
715.0,Noivern,85,70,80,97,80,123,535,Flying,Dragon,Frisk,Infiltrator,Telepathy,Purple

### NOT queries
There are two ways to do negation. Consider the following query for selecting all pokemon who are Fire type, but not Flying

```
query = ((pokedex_df['Type I']=='Fire') & ~(pokedex_df['Type II']=='Flying'))\
        | ((pokedex_df['Type I']!='Flying') & (pokedex_df['Type II']=='Fire'))
```

The first way to do negation is with the tilde ~ symbol, which negates the subsequent boolean statement:
We use this in `~(pokedex_df['Type II']=='Flying')`.
The parentheses determine order of operations. First we find all entries where their secondary type is "Flying"
Then the tilde in front negates that statement, flipping all True values to False, and vice versa

The second way to do negation is using the != notation, which represents "not equal to"
We use this in `(pokedex_df['Type I']!='Flying')`
This finds all entries where their primary type is not equal to "Flying"

In [25]:
query = ((pokedex_df['Type I']=='Fire') & ~(pokedex_df['Type II']=='Flying'))\
        | ((pokedex_df['Type I']!='Flying') & (pokedex_df['Type II']=='Fire'))

pokedex_df.loc[query]

,Pokemon,HP,Atk,Def,SpAtk,SpDef,Speed,Total,Type I,Type II,Ability I,Ability II,Hidden Ability,Color
Index,,,,,,,,,,,,,,
4.0,Charmander,39,52,43,60,50,65,309,Fire,,Blaze,,Solar Power,Red
5.0,Charmeleon,58,64,58,80,65,80,405,Fire,,Blaze,,Solar Power,Red
39.0,Vulpix,38,41,40,50,65,65,299,Fire,,Flash Fire,,Drought,Brown
40.0,Ninetales,73,76,75,81,100,100,505,Fire,,Flash Fire,,Drought,Yellow
63.0,Growlithe,55,70,45,70,50,60,350,Fire,,Intimidate,Flash Fire,Justified,Brown
64.0,Arcanine,90,110,80,100,80,95,555,Fire,,Intimidate,Flash Fire,Justified,Brown
83.0,Ponyta,50,85,55,65,65,90,410,Fire,,Run Away,Flash Fire,Flame Body,Yellow
84.0,Rapidash,65,100,70,80,80,105,500,Fire,,Run Away,Flash Fire,Flame Body,Yellow
149.0,Magmar,65,95,57,100,85,93,495,Fire,,Flame Body,,Vital Spirit,Red
160.0,Flareon,65,130,60,95,110,65,525,Fire,,Flash Fire,,Guts,Red
186.0,Cyndaquil,39,52,43,60,50,65,309,Fire,,Blaze,,Flash Fire,Yellow
187.0,Quilava,58,64,58,80,65,80,405,Fire,,Blaze,,Flash Fire,Yellow
188.0,Typhlosion,78,84,78,109,85,100,534,Fire,,Blaze,,Flash Fire,Yellow
248.0,Slugma,40,40,40,70,40,20,250,Fire,,Magma Armor,Flame Body,Weak Armor,Red
249.0,Magcargo,50,50,120,80,80,30,410,Fire,Rock,Magma Armor,Flame Body,Weak Armor,Red
260.0,Houndour,45,60,30,80,50,65,330,Dark,Fire,Early Bird,Flash Fire,Unnerve,Black
261.0,Houndoom,75,90,50,110,80,95,500,Dark,Fire,Early Bird,Flash Fire,Unnerve,Black
148.0,Magby,45,75,37,70,55,83,365,Fire,,Flame Body,,Vital Spirit,Red
268.0,Entei,115,115,85,90,75,100,580,Fire,,Pressure,,Flash Fire,Brown
279.0,Torchic,45,60,40,70,50,45,310,Fire,,Blaze,,Speed Boost,Red
280.0,Combusken,60,85,60,85,60,55,405,Fire,Fighting,Blaze,,Speed Boost,Red
281.0,Blaziken,80,120,70,110,70,80,530,Fire,Fighting,Blaze,,Speed Boost,Red
349.0,Numel,60,60,40,65,45,35,305,Fire,Ground,Oblivious,Simple,Own Tempo,Yellow
350.0,Camerupt,70,100,70,105,75,40,460,Fire,Ground,Magma Armor,Solid Rock,Anger Point,Red
351.0,Torkoal,70,85,140,85,70,20,470,Fire,,White Smoke,,Shell Armor,Brown
419.0,Chimchar,44,58,44,58,44,61,309,Fire,,Blaze,,Iron Fist,Brown
420.0,Monferno,64,78,52,78,52,81,405,Fire,Fighting,Blaze,,Iron Fist,Brown
421.0,Infernape,76,104,71,104,71,108,534,Fire,Fighting,Blaze,,Iron Fist,Brown
150.0,Magmortar,75,95,67,125,95,83,540,Fire,,Flame Body,,Vital Spirit,Red
479.1,Rotom (Heat),50,65,107,105,107,86,520,Electric,Fire,Levitate,,,Red
485.0,Heatran,91,90,106,130,106,77,600,Fire,Steel,Flash Fire,,Flame Body,Brown
494.0,Victini,100,100,100,100,100,100,600,Psychic,Fire,Victory Star,,,Yellow
498.0,Tepig,65,63,45,45,45,45,308,Fire,,Blaze,,Thick Fat,Red
499.0,Pignite,90,93,55,70,55,55,418,Fire,Fighting,Blaze,,Thick Fat,Red
500.0,Emboar,110,123,65,100,65,65,528,Fire,Fighting,Blaze,,Reckless,Red
513.0,Pansear,50,53,48,53,48,64,316,Fire,,Gluttony,,Blaze,Red
514.0,Simisear,75,98,63,98,63,101,498,Fire,,Gluttony,,Blaze,Red
554.0,Darumaka,70,90,45,15,45,50,315,Fire,,Hustle,,Inner Focus,Red
555.0,Darmanitan,105,140,55,30,55,95,480,Fire,,Sheer Force,,Zen Mode,Red
555.1,Darmanitan (Z),105,30,105,140,105,55,540,Fire,Psychic,,,Zen Mode,Red
607.0,Litwick,50,30,55,65,55,20,275,Ghost,Fire,Flash Fire,Flame Body,Shadow Tag,White
608.0,Lampent,60,40,60,95,60,55,370,Ghost,Fire,Flash Fire,Flame Body,Shadow Tag,Black
609.0,Chandelure,60,55,90,145,90,80,520,Ghost,Fire,Flash Fire,Flame Body,Shadow Tag,Black
631.0,Heatmor,85,97,66,105,66,65,484,Fire,,Gluttony,Flash Fire,White Smoke,Red
636.0,Larvesta,55,85,55,50,55,60,360,Bug,Fire,Flame Body,,Swarm,White
637.0,Volcarona,85,60,65,135,105,100,550,Bug,Fire,Flame Body,,Swarm,White
643.0,Reshiram,100,120,100,150,120,90,680,Dragon,Fire,Turboblaze,,,White
653.0,Fennekin,40,45,40,62,60,60,307,Fire,,Blaze,,Magician,Red
654.0,Braixen,59,59,58,90,70,73,409,Fire,,Blaze,,Magician,Red
655.0,Delphox,75,69,72,114,100,104,534,Fire,Psychic,Blaze,,Magician,Red
667.0,Litleo,62,50,58,73,54,72,369,Fire,Normal,Rivalry,Unnerve,Moxie,Brown
668.0,Pyroar,86,68,72,109,66,106,507,Fire,Normal,Rivalry,Unnerve,Moxie,Brown
721.0,Volcanion,80,110,120,130,90,70,600,Fire,Water,Water Absorb,,,Brown
725.0,Litten,45,65,40,60,40,70,320,Fire,,Blaze,Intimidate,,Red
726.0,Torracat,65,85,50,80,50,90,420,Fire,,Blaze,Intimidate,,Red
727.0,Incineroar,95,115,90,80,90,60,530,Fire,Dark,Blaze,Intimidate,,Red
757.0,Salandit,48,44,40,71,40,77,320,Poison,Fire,Corrosion,Oblivious,Oblivious,Black
758.0,Salazzle,68,64,60,111,60,117,480,Poison,Fire,Corrosion,Oblivious,Oblivious,Black
776.0,Turtonator,60,78,135,91,85,36,485,Fire,Dragon,Shell Armor,,,Red

## Sorting
Dataframes can be sorted by value

In [26]:
pokedex_df.sort_values('Pokemon', ascending=False) # Sort by name descending
#works with both letters & numeric values

,Pokemon,HP,Atk,Def,SpAtk,SpDef,Speed,Total,Type I,Type II,Ability I,Ability II,Hidden Ability,Color
Index,,,,,,,,,,,,,,
718.0,Zygarde,108,100,121,81,95,95,600,Dragon,Ground,Aura Break,,,Green
634.0,Zweilous,72,85,70,65,70,58,420,Dark,Dragon,Hustle,,,Blue
44.0,Zubat,40,45,35,30,40,55,245,Poison,Flying,Inner Focus,,Infiltrator,Purple
570.0,Zorua,40,65,40,80,40,65,330,Dark,,Illusion,,,Gray
571.0,Zoroark,60,105,60,120,60,105,510,Dark,,Illusion,,,Gray
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
681.0,Aegislash,60,50,150,50,150,60,520,Steel,Ghost,Stance Change,,,Brown
617.0,Accelgor,80,70,40,100,60,145,495,Bug,,Hydration,Sticky Hold,Unburden,Red
388.0,Absol,65,130,60,75,60,75,465,Dark,,Pressure,Super Luck,Justified,White
69.0,Abra,25,20,15,105,55,90,310,Psychic,,Synchronize,Inner Focus,Magic Guard,Brown
478.0,Abomasnow,90,92,75,92,85,60,494,Ice,Grass,Snow Warning,,Soundproof,White

In [27]:
# You can sort by multiple columns
pokedex_df.sort_values(['Type I','Type II', 'Total'], ascending=False) # Sort by type combination, then stats descending

,Pokemon,HP,Atk,Def,SpAtk,SpDef,Speed,Total,Type I,Type II,Ability I,Ability II,Hidden Ability,Color
Index,,,,,,,,,,,,,,
424.0,Empoleon,84,86,88,111,101,60,530,Water,Steel,Torrent,,Defiant,Blue
565.0,Carracosta,74,108,133,83,65,32,495,Water,Rock,Solid Rock,Sturdy,Swift Swim,Blue
398.0,Relicanth,100,90,130,45,65,55,485,Water,Rock,Swift Swim,Rock Head,Sturdy,Gray
253.0,Corsola,55,55,85,65,85,35,380,Water,Rock,Hustle,Natural Cure,Regenerator,Pink
564.0,Tirtouga,54,78,103,53,45,22,355,Water,Rock,Solid Rock,Sturdy,Swift Swim,Blue
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292.0,Cascoon,50,35,55,25,25,15,205,Bug,,Shed Skin,,,Purple
664.0,Scatterbug,38,35,40,27,25,35,200,Bug,,Shield Dust,Compound Eyes,Friend Guard,Black
10.0,Caterpie,45,30,35,20,20,45,195,Bug,,Shield Dust,,Run Away,Green
289.0,Wurmple,45,45,35,20,30,20,195,Bug,,Shield Dust,,Run Away,Red
430.0,Kricketot,37,25,41,25,41,25,194,Bug,,Shed Skin,,Run Away,Red

## Adding columns, rows, and changing values
You can add another column like:
```
dataframe['NewColumnName'] = value
```
`value` can be a single value, an array of the same size as the index of `dataframe`, a pandas `Series`, or a dictionary mapping `index: value` for entries in the dataframe index

In [28]:
pokedex_df['Nickname'] = None
pokedex_df

,Pokemon,HP,Atk,Def,SpAtk,SpDef,Speed,Total,Type I,Type II,Ability I,Ability II,Hidden Ability,Color,Nickname
Index,,,,,,,,,,,,,,,
1.0,Bulbasaur,45,49,49,65,65,45,318,Grass,Poison,Overgrow,,Chlorophyll,Green,None
2.0,Ivysaur,60,62,63,80,80,60,405,Grass,Poison,Overgrow,,Chlorophyll,Green,None
3.0,Venusaur,80,82,83,100,100,80,525,Grass,Poison,Overgrow,,Chlorophyll,Green,None
4.0,Charmander,39,52,43,60,50,65,309,Fire,,Blaze,,Solar Power,Red,None
5.0,Charmeleon,58,64,58,80,65,80,405,Fire,,Blaze,,Solar Power,Red,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
798.0,Kartana,59,181,131,59,31,109,570,Grass,Steel,Beast Boost,,,White,None
799.0,Guzzlord,223,101,53,97,53,43,570,Dark,Dragon,Beast Boost,,,Black,None
800.0,Necrozma,97,107,101,127,89,79,600,Psychic,,Prism Armor,,,Black,None
801.0,Magearna,80,95,115,130,115,65,600,Steel,Fairy,Soul-Heart,,,Gray,None
802.0,Marshadow,90,125,80,90,90,125,600,Fighting,Ghost,Technician,,,Gray,None

In [29]:
# you can change the value of an entry using indexing and assignment =
pokedex_df.loc[4,'Nickname'] = 'Abby' # indexing using .loc[] pokedex entry 4, 'Nickname column'
pokedex_df.iloc[113,-1] = 'Terry' # indexing using .iloc[] 113rd row, last column
pokedex_df.iloc[[3,113],:] # had put an = 0 here, for experimenting purposes, dont't mind!
#, in [3,113] gives us a list of row just for these two vaues, instead of slicing
#every column from 3 - 114 rows

,Pokemon,HP,Atk,Def,SpAtk,SpDef,Speed,Total,Type I,Type II,Ability I,Ability II,Hidden Ability,Color,Nickname
Index,,,,,,,,,,,,,,,
4.0,Charmander,39,52,43,60,50,65,309,Fire,,Blaze,,Solar Power,Red,Abby
129.0,Tangela,65,55,115,100,40,60,435,Grass,,Chlorophyll,Leaf Guard,Regenerator,Blue,Terry

## Combining Dataframes
### Appending

Some of you may have noticed that the pokedex file only includes Generations 1-7 of pokemon. Let's add the pokemon from Gen 8. The file `pokedex_gen8.csv` contains the pokedex entries for all of the pokemon that show up in the 8th generation of games (Sword/Shield).

In [30]:
# you can add another dataframe on to the end using append()
gen8_pokedex_df = pd.read_csv('pokedex_gen8.csv') # create a dataframe with new entries

In [31]:
appended_pokedex_df = pd.concat([pokedex_df, gen8_pokedex_df], ignore_index=True, sort=False) # the sort=False keyword prevents the columns from being reordered alphabetically
appended_pokedex_df = appended_pokedex_df.fillna('').drop_duplicates() # some cleanup operations, replace NaN with emptry strings, and drop duplicate rows
appended_pokedex_df #new columns

,Pokemon,HP,Atk,Def,SpAtk,SpDef,Speed,Total,Type I,Type II,Ability I,Ability II,Hidden Ability,Color,Nickname,Galar Pokedex Number,Weight_kg,Height_m,Weight_lbs,Height_ft,Cap_Rate,Egg_Steps,Classification
0,Bulbasaur,45,49,49,65,65,45,318.0,Grass,Poison,Overgrow,,Chlorophyll,Green,,,,,,,,,
1,Ivysaur,60,62,63,80,80,60,405.0,Grass,Poison,Overgrow,,Chlorophyll,Green,,,,,,,,,
2,Venusaur,80,82,83,100,100,80,525.0,Grass,Poison,Overgrow,,Chlorophyll,Green,,,,,,,,,
3,Charmander,39,52,43,60,50,65,309.0,Fire,,Blaze,,Solar Power,Red,Abby,,,,,,,,
4,Charmeleon,58,64,58,80,65,80,405.0,Fire,,Blaze,,Solar Power,Red,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1215,Drakloak,68,80,50,60,50,102,,dragon,ghost,Clear Body,Infiltrator,Cursed Body,,,396.0,11.0,1.4,24.3,4.583,45.0,10240.0,Caretaker Pokémon
1216,Dragapult,88,120,75,100,75,142,,dragon,ghost,Clear Body,Infiltrator,Cursed Body,,,397.0,50.0,3.0,110.2,9.833,45.0,10240.0,Stealth Pokémon
1217,Zacian,92,130,115,80,115,138,,fairy,,Intrepid Sword,,,,,398.0,110.0,2.8,242.5,9.167,10.0,30720.0,Warrior Pokémon
1218,Zamazenta,92,130,115,80,115,138,,fighting,,Dauntless Shield,,,,,399.0,210.0,2.9,463.0,9.5,10.0,30720.0,Warrior Pokémon
1219,Eternatus,140,85,95,145,95,130,,poison,dragon,Pressure,,,,,400.0,950.0,20.0,2094.4,65.583,255.0,30720.0,Gigantic Pokémon

However, you may notice that some pokemon show up twice in the combined dataframe, and since the entries in `gen8_pokedex_df` includes different columns, `remove_duplicates` does not see those entries as duplicates.

To remedy this, we can index both dataframes by the name of the pokemon and use the [`combine_first`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.combine_first.html#pandas.DataFrame.combine_first) function to fill in the null values of one dataframe with the corresponding values in the other.

In [32]:
gen8_pokedex_indexed_by_name = gen8_pokedex_df.reset_index().set_index('Pokemon')
combined_pokedex_df = pokedex_indexed_by_name.combine_first(gen8_pokedex_indexed_by_name)
combined_pokedex_df

,Ability I,Ability II,Atk,Cap_Rate,Classification,Color,Def,Egg_Steps,Galar Pokedex Number,HP,Height_ft,Height_m,Hidden Ability,Index,SpAtk,SpDef,Speed,Total,Type I,Type II,Weight_kg,Weight_lbs,index
Pokemon,,,,,,,,,,,,,,,,,,,,,,,
Abomasnow,Snow Warning,,92,60.0,Frosted Tree Pokémon,White,75,5120.0,97.0,90,7.250,2.2,Soundproof,478.0,92,85,60,494.0,Ice,Grass,135.5,298.7,96.0
Abra,Synchronize,Inner Focus,20,NaN,NaN,Brown,15,NaN,NaN,25,NaN,NaN,Magic Guard,69.0,105,55,90,310.0,Psychic,,NaN,NaN,NaN
Absol,Pressure,Super Luck,130,NaN,NaN,White,60,NaN,NaN,65,NaN,NaN,Justified,388.0,75,60,75,465.0,Dark,,NaN,NaN,NaN
Accelgor,Hydration,Sticky Hold,70,75.0,Shell Out Pokémon,Red,40,3840.0,276.0,80,2.583,0.8,Unburden,617.0,100,60,145,495.0,Bug,,25.3,55.8,275.0
Aegislash,Stance Change,,50,45.0,Royal Sword Pokémon,Brown,150,5120.0,332.0,60,5.583,1.7,,681.0,50,150,60,520.0,Steel,Ghost,53.0,116.8,331.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zoroark,Illusion,,105,NaN,NaN,Gray,60,NaN,NaN,60,NaN,NaN,,571.0,120,60,105,510.0,Dark,,NaN,NaN,NaN
Zorua,Illusion,,65,NaN,NaN,Gray,40,NaN,NaN,40,NaN,NaN,,570.0,80,40,65,330.0,Dark,,NaN,NaN,NaN
Zubat,Inner Focus,,45,NaN,NaN,Purple,35,NaN,NaN,40,NaN,NaN,Infiltrator,44.0,30,40,55,245.0,Poison,Flying,NaN,NaN,NaN
Zweilous,Hustle,,85,45.0,Hostile Pokémon,Blue,70,10240.0,387.0,72,4.583,1.4,,634.0,65,70,58,420.0,Dark,Dragon,50.0,110.2,386.0
Zygarde,Aura Break,,100,NaN,NaN,Green,121,NaN,NaN,108,NaN,NaN,,718.0,81,95,95,600.0,Dragon,Ground,NaN,NaN,NaN

### Merges and Joins
A more advanced way to join dataframes is using the `merge` or `join` operations.

For those who have worked with SQL-style databases before, you may be familiar with `merge` and `join` operations. They are done to combine two tables or dataframes which share values in certain columns. This allows us to look up entries in another dataframe using the values of our current dataframe.

In this example, we will use `merge` to get the stats for a team of pokemon. This dataframe will just contain the names and nicknames of the pokemon that we want on our team. After we perform a merge, we will get a dataframe with the respective statistics for the pokemon we've chosen.

In [33]:
# feel free to replace the names of pokemon with ones you want on your team
team_df = pd.DataFrame({'my pokemon':['Bulbasaur','Squirtle','Charmander'],
                       'nickname':['leafygurl','h2woah','toaster']})
team_df

   my pokemon   nickname
0   Bulbasaur  leafygurl
1    Squirtle     h2woah
2  Charmander    toaster

There are four merge/join types in `pandas`:
- (INNER) JOIN: Returns records that have matching values in both tables
- (LEFT) JOIN: Returns all records from the left table, and the matched records from the right table 
- (RIGHT) JOIN: Returns all records from the right table, and the matched records from the left table   
- (OUTER) JOIN: Returns all records when there is a match in either left or right table
    

 ![inner join illustration, venn diagram with intersection colored in, from w3schools sql lesson](https://www.w3schools.com/sql/img_innerjoin.gif)
  ![left join illustration, venn diagram with full left circle colored in, from w3schools sql lesson](https://www.w3schools.com/sql/img_leftjoin.gif)
  ![right join illustration, venn diagram with full right circle colored in, from w3schools sql lesson](https://www.w3schools.com/sql/img_rightjoin.gif)
  ![outer join illustration, venn diagram with union of two circles colored in, from w3schools sql lesson](https://www.w3schools.com/sql/img_fulljoin.gif)

The information that we need in order to perform a merge is:
- what dataframes to merge
- what kind of merge/join (inner/left/right/outer)
- what columns to merge on in each dataframe

Knowing this, let's look at the function signature of merge for a dataframe

In [34]:
# you can use the question mark symbol ? to examine the function signature
pokedex_df.merge?

Signature:
pokedex_df.merge(
    right: 'DataFrame | Series',
    how: 'MergeHow' = 'inner',
    on: 'IndexLabel | None' = None,
    left_on: 'IndexLabel | None' = None,
    right_on: 'IndexLabel | None' = None,
    left_index: 'bool' = False,
    right_index: 'bool' = False,
    sort: 'bool' = False,
    suffixes: 'Suffixes' = ('_x', '_y'),
    copy: 'bool | None' = None,
    indicator: 'str | bool' = False,
    validate: 'MergeValidate | None' = None,
) -> 'DataFrame'
Docstring:
Merge DataFrame or named Series objects with a database-style join.

A named Series object is treated as a DataFrame with a single named column.

The join is done on columns or indexes. If joining columns on
columns, the DataFrame indexes *will be ignored*. Otherwise if joining indexes
on indexes or indexes on a column or columns, the index will be passed on.
When performing a cross merge, no column specifications to merge on are
allowed.

.. warning::

    If both key columns contain rows where the key is a null value, those
    rows will be matched against each other. This is different from usual SQL
    join behaviour and can lead to unexpected results.

Parameters
----------
right : DataFrame or named Series
    Object to merge with.
how : {'left', 'right', 'outer', 'inner', 'cross'}, default 'inner'
    Type of merge to be performed.

    * left: use only keys from left frame, similar to a SQL left outer join;
      preserve key order.
    * right: use only keys from right frame, similar to a SQL right outer join;
      preserve key order.
    * outer: use union of keys from both frames, similar to a SQL full outer
      join; sort keys lexicographically.
    * inner: use intersection of keys from both frames, similar to a SQL inner
      join; preserve the order of the left keys.
    * cross: creates the cartesian product from both frames, preserves the order
      of the left keys.

      .. versionadded:: 1.2.0

on : label or list
    Column or index level names to join on. These must be found in both
    DataFrames. If `on` is None and not merging on indexes then this defaults
    to the intersection of the columns in both DataFrames.
left_on : label or list, or array-like
    Column or index level names to join on in the left DataFrame. Can also
    be an array or list of arrays of the length of the left DataFrame.
    These arrays are treated as if they are columns.
right_on : label or list, or array-like
    Column or index level names to join on in the right DataFrame. Can also
    be an array or list of arrays of the length of the right DataFrame.
    These arrays are treated as if they are columns.
left_index : bool, default False
    Use the index from the left DataFrame as the join key(s). If it is a
    MultiIndex, the number of keys in the other DataFrame (either the index
    or a number of columns) must match the number of levels.
right_index : bool, default False
    Use the index from the right DataFrame as the join key. Same caveats as
    left_index.
sort : bool, default False
    Sort the join keys lexicographically in the result DataFrame. If False,
    the order of the join keys depends on the join type (how keyword).
suffixes : list-like, default is ("_x", "_y")
    A length-2 sequence where each element is optionally a string
    indicating the suffix to add to overlapping column names in
    `left` and `right` respectively. Pass a value of `None` instead
    of a string to indicate that the column name from `left` or
    `right` should be left as-is, with no suffix. At least one of the
    values must not be None.
copy : bool, default True
    If False, avoid copy if possible.
indicator : bool or str, default False
    If True, adds a column to the output DataFrame called "_merge" with
    information on the source of each row. The column can be given a different
    name by providing a string argument. The column will have a Categorical
    type with the value of "left_only" for observations whose merge key only
    appears in the left DataFrame, "right_only" for observations
    whose merge key only appears in the right DataFrame, and "both"
    if the observation's merge key is found in both DataFrames.

validate : str, optional
    If specified, checks if merge is of specified type.

    * "one_to_one" or "1:1": check if merge keys are unique in both
      left and right datasets.
    * "one_to_many" or "1:m": check if merge keys are unique in left
      dataset.
    * "many_to_one" or "m:1": check if merge keys are unique in right
      dataset.
    * "many_to_many" or "m:m": allowed, but does not result in checks.

Returns
-------
DataFrame
    A DataFrame of the two merged objects.

See Also
--------
merge_ordered : Merge with optional filling/interpolation.
merge_asof : Merge on nearest keys.
DataFrame.join : Similar method using indices.

Examples
--------
>>> df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
...                     'value': [1, 2, 3, 5]})
>>> df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
...                     'value': [5, 6, 7, 8]})
>>> df1
    lkey value
0   foo      1
1   bar      2
2   baz      3
3   foo      5
>>> df2
    rkey value
0   foo      5
1   bar      6
2   baz      7
3   foo      8

Merge df1 and df2 on the lkey and rkey columns. The value columns have
the default suffixes, _x and _y, appended.

>>> df1.merge(df2, left_on='lkey', right_on='rkey')
  lkey  value_x rkey  value_y
0  foo        1  foo        5
1  foo        1  foo        8
2  foo        5  foo        5
3  foo        5  foo        8
4  bar        2  bar        6
5  baz        3  baz        7

Merge DataFrames df1 and df2 with specified left and right suffixes
appended to any overlapping columns.

>>> df1.merge(df2, left_on='lkey', right_on='rkey',
...           suffixes=('_left', '_right'))
  lkey  value_left rkey  value_right
0  foo           1  foo            5
1  foo           1  foo            8
2  foo           5  foo            5
3  foo           5  foo            8
4  bar           2  bar            6
5  baz           3  baz            7

Merge DataFrames df1 and df2, but raise an exception if the DataFrames have
any overlapping columns.

>>> df1.merge(df2, left_on='lkey', right_on='rkey', suffixes=(False, False))
Traceback (most recent call last):
...
ValueError: columns overlap but no suffix specified:
    Index(['value'], dtype='object')

>>> df1 = pd.DataFrame({'a': ['foo', 'bar'], 'b': [1, 2]})
>>> df2 = pd.DataFrame({'a': ['foo', 'baz'], 'c': [3, 4]})
>>> df1
      a  b
0   foo  1
1   bar  2
>>> df2
      a  c
0   foo  3
1   baz  4

>>> df1.merge(df2, how='inner', on='a')
      a  b  c
0   foo  1  3

>>> df1.merge(df2, how='left', on='a')
      a  b  c
0   foo  1  3.0
1   bar  2  NaN

>>> df1 = pd.DataFrame({'left': ['foo', 'bar']})
>>> df2 = pd.DataFrame({'right': [7, 8]})
>>> df1
    left
0   foo
1   bar
>>> df2
    right
0   7
1   8

>>> df1.merge(df2, how='cross')
   left  right
0   foo      7
1   foo      8
2   bar      7
3   bar      8
File:      /opt/conda/lib/python3.11/site-packages/pandas/core/frame.py
Type:      method

The answers to the following questions to get the team dataframe with stats are:

**what dataframes to merge?**
`team_df` and `combined_pokedex_df`
    
**what kind of merge/join (inner/left/right/outer)?**
inner or left 
    
**what columns to merge on in each dataframe**
for `team_df`, the column is `my pokemon`, for `combined_pokedex_df`, it is the index.

In [35]:
team_with_stats = team_df.merge(combined_pokedex_df, how='inner',
                               left_on='my pokemon', right_index=True)
team_with_stats

,my pokemon,nickname,Ability I,Ability II,Atk,Cap_Rate,Classification,Color,Def,Egg_Steps,Galar Pokedex Number,HP,Height_ft,Height_m,Hidden Ability,Index,SpAtk,SpDef,Speed,Total,Type I,Type II,Weight_kg,Weight_lbs,index
0,Bulbasaur,leafygurl,Overgrow,,49,NaN,NaN,Green,49,NaN,NaN,45,NaN,NaN,Chlorophyll,1.0,65,65,45,318.0,Grass,Poison,NaN,NaN,NaN
1,Squirtle,h2woah,Torrent,,48,NaN,NaN,Blue,65,NaN,NaN,44,NaN,NaN,Rain Dish,7.0,60,54,43,314.0,Water,,NaN,NaN,NaN
2,Charmander,toaster,Blaze,,52,45.0,Lizard Pokémon,Red,43,5120.0,378.0,39,2.0,0.6,Solar Power,4.0,60,50,65,309.0,Fire,,8.5,18.7,377.0

In [36]:
team_with_stats = team_df.merge(combined_pokedex_df, how='outer',
                               left_on='my pokemon', right_index=True)
team_with_stats

,my pokemon,nickname,Ability I,Ability II,Atk,Cap_Rate,Classification,Color,Def,Egg_Steps,Galar Pokedex Number,HP,Height_ft,Height_m,Hidden Ability,Index,SpAtk,SpDef,Speed,Total,Type I,Type II,Weight_kg,Weight_lbs,index
0.0,Bulbasaur,leafygurl,Overgrow,,49,NaN,NaN,Green,49,NaN,NaN,45,NaN,NaN,Chlorophyll,1.0,65,65,45,318.0,Grass,Poison,NaN,NaN,NaN
1.0,Squirtle,h2woah,Torrent,,48,NaN,NaN,Blue,65,NaN,NaN,44,NaN,NaN,Rain Dish,7.0,60,54,43,314.0,Water,,NaN,NaN,NaN
2.0,Charmander,toaster,Blaze,,52,45.0,Lizard Pokémon,Red,43,5120.0,378.0,39,2.000,0.6,Solar Power,4.0,60,50,65,309.0,Fire,,8.5,18.7,377.0
NaN,Abomasnow,NaN,Snow Warning,,92,60.0,Frosted Tree Pokémon,White,75,5120.0,97.0,90,7.250,2.2,Soundproof,478.0,92,85,60,494.0,Ice,Grass,135.5,298.7,96.0
NaN,Abra,NaN,Synchronize,Inner Focus,20,NaN,NaN,Brown,15,NaN,NaN,25,NaN,NaN,Magic Guard,69.0,105,55,90,310.0,Psychic,,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,Zoroark,NaN,Illusion,,105,NaN,NaN,Gray,60,NaN,NaN,60,NaN,NaN,,571.0,120,60,105,510.0,Dark,,NaN,NaN,NaN
NaN,Zorua,NaN,Illusion,,65,NaN,NaN,Gray,40,NaN,NaN,40,NaN,NaN,,570.0,80,40,65,330.0,Dark,,NaN,NaN,NaN
NaN,Zubat,NaN,Inner Focus,,45,NaN,NaN,Purple,35,NaN,NaN,40,NaN,NaN,Infiltrator,44.0,30,40,55,245.0,Poison,Flying,NaN,NaN,NaN
NaN,Zweilous,NaN,Hustle,,85,45.0,Hostile Pokémon,Blue,70,10240.0,387.0,72,4.583,1.4,,634.0,65,70,58,420.0,Dark,Dragon,50.0,110.2,386.0
NaN,Zygarde,NaN,Aura Break,,100,NaN,NaN,Green,121,NaN,NaN,108,NaN,NaN,,718.0,81,95,95,600.0,Dragon,Ground,NaN,NaN,NaN

In [37]:
# we can select specific columns from the dataframe
team_with_stats.loc[:,['my pokemon','nickname','Total']]

     my pokemon   nickname  Total
0.0   Bulbasaur  leafygurl  318.0
1.0    Squirtle     h2woah  314.0
2.0  Charmander    toaster  309.0
NaN   Abomasnow        NaN  494.0
NaN        Abra        NaN  310.0
..          ...        ...    ...
NaN     Zoroark        NaN  510.0
NaN       Zorua        NaN  330.0
NaN       Zubat        NaN  245.0
NaN    Zweilous        NaN  420.0
NaN     Zygarde        NaN  600.0

[909 rows x 3 columns]

### Exercise
Put together a team of pokemon by editing `team_df` and performing a `merge`. Remember that you can only have 6 pokemon on a team at once.

In [141]:
team_df = pd.DataFrame({'my pokemon':['Bulbasaur','Squirtle','Charmander'],
                       'nickname':['leafygurl','h2woah','toaster']})

team_df.loc[3,'my pokemon']= 'Magikarp'
team_df.loc[4,'my pokemon']= 'Eevee'
team_df.loc[5,'my pokemon'] = 'Mimikyu'

team_df.loc[3,'nickname']= 'k@Rp'
team_df.loc[4,'nickname']= 'flufbun'
team_df.loc[5,'nickname'] = 'mimi'

#could also use "merge" method #--------------------------------------------
# more_pokie = pd.DataFrame({'my pokemon':['Magikarp','Eevee','Mimikyu'],
#                            'nickname':['k@Rp','flufbun','mimi']})

# team_df = team_df.merge(more_pokie, how = 'outer')
# team_df
#__________________________________________________________________________
team_with_stats = team_df.merge(combined_pokedex_df, how='left',
                               left_on='my pokemon', right_index=True)
team_with_stats

   my pokemon   nickname
0   Bulbasaur  leafygurl
1    Squirtle     h2woah
2  Charmander    toaster
3    Magikarp       k@Rp
4       Eevee    flufbun
5     Mimikyu       mimi

## Calculations and operations
There are various ways to do math to the dataframes

### Column operations
You can perform basic math element-wise between columns, such as addition, subtraction, multiplication, and division.

Note that the `gen8_pokedex_df` does not contain a `Total` stats column, so currently the gen8 pokemon have `NaN` in that column. We can fix that, because `Total` is generated as the sum of the respective `HP` `Atk` `Def` `SpAtk` `SpDef` and `Speed`. We can add the entire columns at once, without having to loop over each entry. Pandas supports vectorized operations behind the scenes.

In [39]:
# these are the entries missing 'Total' stats
combined_pokedex_df.loc[combined_pokedex_df['Total'].isnull()]

,Ability I,Ability II,Atk,Cap_Rate,Classification,Color,Def,Egg_Steps,Galar Pokedex Number,HP,Height_ft,Height_m,Hidden Ability,Index,SpAtk,SpDef,Speed,Total,Type I,Type II,Weight_kg,Weight_lbs,index
Pokemon,,,,,,,,,,,,,,,,,,,,,,,
Alcremie,Sweet Veil,NaN,60,100.0,Cream Pokémon,NaN,75,5120.0,186.0,65,1.000,0.3,Aroma Veil,NaN,110,121,64,NaN,fairy,NaN,0.5,1.1,185.0
Appletun,Ripen,Gluttony,85,45.0,Apple Nectar Pokémon,NaN,80,5120.0,207.0,110,1.333,0.4,Thick Fat,NaN,100,80,30,NaN,grass,dragon,13.0,28.7,206.0
Applin,Ripen,Gluttony,40,255.0,Apple Core Pokémon,NaN,80,5120.0,205.0,40,0.667,0.2,Bulletproof,NaN,40,40,20,NaN,grass,dragon,0.5,1.1,204.0
Arctovish,Water Absorb,Ice Body,90,45.0,Fossil Pokémon,NaN,100,8960.0,377.0,90,6.583,2.0,Slush Rush,NaN,80,90,55,NaN,water,ice,175.0,385.8,376.0
Arctozolt,Volt Absorb,Static,100,45.0,Fossil Pokémon,NaN,90,8960.0,375.0,90,7.583,2.3,Slush Rush,NaN,90,80,55,NaN,electric,ice,150.0,330.7,374.0
Arrokuda,Swift Swim,NaN,63,255.0,Rush Pokémon,NaN,40,5120.0,180.0,41,1.667,0.5,Propeller Tail,NaN,40,30,66,NaN,water,NaN,1.0,2.2,179.0
Barraskewda,Swift Swim,NaN,123,60.0,Skewer Pokémon,NaN,60,5120.0,181.0,61,4.250,1.3,Propeller Tail,NaN,60,50,136,NaN,water,NaN,30.0,66.1,180.0
Blipbug,Swarm,Compoundeyes,20,255.0,Larva Pokémon,NaN,20,3840.0,10.0,25,1.333,0.4,Telepathy,NaN,25,45,45,NaN,bug,NaN,8.0,17.6,9.0
Boltund,Strong Jaw,NaN,90,45.0,Dog Pokémon,NaN,60,5120.0,47.0,69,3.250,1.0,Competitive,NaN,90,60,121,NaN,electric,NaN,34.0,75.0,46.0
Carkol,Steam Engine,Flame Body,60,120.0,Coal Pokémon,NaN,90,3840.0,162.0,80,3.583,1.1,Flash Fire,NaN,60,70,50,NaN,rock,fire,78.0,172.0,161.0
Centiskorch,Flash Fire,White Smoke,115,75.0,Radiator Pokémon,NaN,65,5120.0,160.0,100,9.833,3.0,Flame Body,NaN,90,90,65,NaN,fire,bug,120.0,264.6,159.0
Chewtle,Strong Jaw,Shell Armor,64,255.0,Snapping Pokémon,NaN,50,5120.0,42.0,50,1.000,0.3,Swift Swim,NaN,38,38,44,NaN,water,NaN,8.5,18.7,41.0
Cinderace,Blaze,NaN,116,45.0,Striker Pokémon,NaN,75,5120.0,6.0,80,4.583,1.4,Libero,NaN,65,75,119,NaN,fire,NaN,33.0,72.8,5.0
Clobbopus,Limber,NaN,68,180.0,Tantrum Pokémon,NaN,60,6400.0,351.0,50,2.000,0.6,Technician,NaN,50,50,32,NaN,fighting,NaN,4.0,8.8,350.0
Coalossal,Steam Engine,Flame Body,80,45.0,Coal Pokémon,NaN,120,3840.0,163.0,110,9.167,2.8,Flash Fire,NaN,80,90,30,NaN,rock,fire,310.5,684.5,162.0
Copperajah,Sheer Force,NaN,130,90.0,Copperderm Pokémon,NaN,69,6400.0,303.0,122,9.833,3.0,Heavy Metal,NaN,80,69,30,NaN,steel,NaN,650.0,1433.0,302.0
Corviknight,Pressure,Unnerve,87,45.0,Raven Pokémon,NaN,105,3840.0,23.0,98,7.250,2.2,Mirror Armor,NaN,53,85,67,NaN,flying,steel,75.0,165.3,22.0
Corvisquire,Keen Eye,Unnerve,67,120.0,Raven Pokémon,NaN,55,3840.0,22.0,68,2.583,0.8,Big Pecks,NaN,43,55,77,NaN,flying,NaN,16.0,35.3,21.0
Cramorant,Gulp Missile,NaN,85,45.0,Gulp Pokémon,NaN,55,5120.0,309.0,70,2.583,0.8,NaN,NaN,85,95,85,NaN,flying,water,18.0,39.7,308.0
Cufant,Sheer Force,NaN,80,190.0,Copperderm Pokémon,NaN,49,6400.0,302.0,72,3.917,1.2,Heavy Metal,NaN,40,49,40,NaN,steel,NaN,100.0,220.5,301.0
Cursola,Weak Armor,NaN,95,30.0,Coral Pokémon,NaN,50,5120.0,237.0,60,3.250,1.0,Perish Body,NaN,145,130,30,NaN,ghost,NaN,0.4,0.9,236.0
Dottler,Swarm,Compoundeyes,35,120.0,Radome Pokémon,NaN,80,3840.0,11.0,50,1.333,0.4,Telepathy,NaN,50,90,30,NaN,bug,psychic,19.5,43.0,10.0
Dracovish,Water Absorb,Strong Jaw,90,45.0,Fossil Pokémon,NaN,100,8960.0,376.0,90,7.583,2.3,Sand Rush,NaN,70,80,75,NaN,water,dragon,215.0,474.0,375.0
Dracozolt,Volt Absorb,Hustle,100,45.0,Fossil Pokémon,NaN,90,8960.0,374.0,90,5.917,1.8,Sand Rush,NaN,80,70,75,NaN,electric,dragon,190.0,418.9,373.0
Dragapult,Clear Body,Infiltrator,120,45.0,Stealth Pokémon,NaN,75,10240.0,397.0,88,9.833,3.0,Cursed Body,NaN,100,75,142,NaN,dragon,ghost,50.0,110.2,396.0
Drakloak,Clear Body,Infiltrator,80,45.0,Caretaker Pokémon,NaN,50,10240.0,396.0,68,4.583,1.4,Cursed Body,NaN,60,50,102,NaN,dragon,ghost,11.0,24.3,395.0
Drednaw,Strong Jaw,Shell Armor,115,75.0,Bite Pokémon,NaN,90,5120.0,43.0,90,3.250,1.0,Swift Swim,NaN,48,68,74,NaN,water,rock,115.5,254.6,42.0
Dreepy,Clear Body,Infiltrator,60,45.0,Lingering Pokémon,NaN,30,10240.0,395.0,28,1.667,0.5,Cursed Body,NaN,40,30,82,NaN,dragon,ghost,2.0,4.4,394.0
Drizzile,Torrent,NaN,60,45.0,Water Lizard Pokémon,NaN,55,5120.0,8.0,65,2.333,0.7,Sniper,NaN,95,55,90,NaN,water,NaN,11.5,25.4,7.0
Dubwool,Fluffy,Steadfast,80,127.0,Sheep Pokémon,NaN,100,3840.0,35.0,72,4.250,1.3,Bulletproof,NaN,60,90,88,NaN,normal,NaN,43.0,94.8,34.0
Duraludon,Light Metal,Heavy Metal,95,45.0,Alloy Pokémon,NaN,115,7680.0,371.0,70,5.917,1.8,Stalwart,NaN,120,50,85,NaN,steel,dragon,40.0,88.2,370.0
Eiscue,Ice Face,NaN,80,60.0,Penguin Pokémon,NaN,110,6400.0,370.0,75,4.583,1.4,NaN,NaN,65,90,50,NaN,ice,NaN,89.0,196.2,369.0
Eldegoss,Cotton Down,Regenerator,50,75.0,Cotton Bloom Pokémon,NaN,90,5120.0,127.0,60,1.667,0.5,Effect Spore,NaN,80,120,60,NaN,grass,NaN,2.5,5.5,126.0
Eternatus,Pressure,NaN,85,255.0,Gigantic Pokémon,NaN,95,30720.0,400.0,140,65.583,20.0,NaN,NaN,145,95,130,NaN,poison,dragon,950.0,2094.4,399.0
Falinks,Battle Armor,NaN,100,45.0,Formation Pokémon,NaN,100,6400.0,345.0,65,9.833,3.0,Defiant,NaN,70,60,75,NaN,fighting,NaN,62.0,136.7,344.0
Farfetchd,Steadfast,NaN,95,45.0,Wild Duck Pokémon,NaN,55,5120.0,218.0,52,2.583,0.8,Scrappy,NaN,58,62,55,NaN,fighting,NaN,15.0,33.1,217.0
Flapple,Ripen,Gluttony,110,45.0,Apple Wing Pokémon,NaN,80,5120.0,206.0,70,1.000,0.3,Hustle,NaN,95,60,70,NaN,grass,dragon,1.0,2.2,205.0
Frosmoth,Shield Dust,NaN,65,75.0,Frost Moth Pokémon,NaN,60,5120.0,350.0,70,4.250,1.3,Ice Scales,NaN,125,90,65,NaN,ice,bug,42.0,92.6,349.0
Gossifleur,Cotton Down,Regenerator,40,190.0,Flowering Pokémon,NaN,60,5120.0,126.0,40,1.333,0.4,Effect Spore,NaN,40,60,10,NaN,grass,NaN,2.2,4.9,125.0
Grapploct,Limber,NaN,118,45.0,Jujitsu Pokémon,NaN,90,6400.0,352.0,80,5.250,1.6,Technician,NaN,70,80,42,NaN,fighting,NaN,39.0,86.0,351.0
Greedent,Cheek Pouch,NaN,95,90.0,Greedy Pokémon,NaN,95,5120.0,25.0,120,2.000,0.6,Gluttony,NaN,55,75,20,NaN,normal,NaN,6.0,13.2,24.0
Grimmsnarl,Prankster,Frisk,120,45.0,Bulk Up Pokémon,NaN,65,5120.0,240.0,95,4.917,1.5,Pickpocket,NaN,95,75,60,NaN,dark,fairy,61.0,134.5,239.0
Grookey,Overgrow,NaN,65,45.0,Chimp Pokémon,NaN,50,5120.0,1.0,50,1.000,0.3,Grassy Surge,NaN,40,40,65,NaN,grass,NaN,5.0,11.0,0.0
Hakamoo,Bulletproof,Soundproof,75,45.0,Scaly Pokémon,NaN,90,10240.0,393.0,55,3.917,1.2,Overcoat,NaN,65,70,65,NaN,dragon,fighting,47.0,103.6,392.0
Hatenna,Healer,Anticipation,30,235.0,Calm Pokémon,NaN,45,5120.0,241.0,42,1.333,0.4,Magic Bounce,NaN,56,53,39,NaN,psychic,NaN,3.4,7.5,240.0
Hatterene,Healer,Anticipation,90,45.0,Silent Pokémon,NaN,95,5120.0,243.0,57,6.917,2.1,Magic Bounce,NaN,136,103,29,NaN,psychic,fairy,5.1,11.2,242.0
Hattrem,Healer,Anticipation,40,120.0,Serene Pokémon,NaN,65,5120.0,242.0,57,2.000,0.6,Magic Bounce,NaN,86,73,49,NaN,psychic,NaN,4.8,10.6,241.0
Impidimp,Prankster,Frisk,45,255.0,Wily Pokémon,NaN,30,5120.0,238.0,45,1.333,0.4,Pickpocket,NaN,55,40,50,NaN,dark,fairy,5.5,12.1,237.0
Indeedee,Inner Focus,Synchronize,65,30.0,Emotion Pokémon,NaN,55,10240.0,337.0,60,2.917,0.9,Psychic Surge,NaN,105,95,95,NaN,psychic,normal,28.0,61.7,336.0
Inteleon,Torrent,NaN,85,45.0,Secret Agent Pokémon,NaN,65,5120.0,9.0,70,6.250,1.9,Sniper,NaN,125,65,120,NaN,water,NaN,45.2,99.6,8.0
Jangmoo,Bulletproof,Soundproof,55,45.0,Scaly Pokémon,NaN,65,10240.0,392.0,45,2.000,0.6,Overcoat,NaN,45,45,45,NaN,dragon,NaN,29.7,65.5,391.0
Kommoo,Bulletproof,Soundproof,110,45.0,Scaly Pokémon,NaN,125,10240.0,394.0,75,5.250,1.6,Overcoat,NaN,100,105,85,NaN,dragon,fighting,78.2,172.4,393.0
Milcery,Sweet Veil,NaN,40,200.0,Cream Pokémon,NaN,40,5120.0,185.0,45,0.667,0.2,Aroma Veil,NaN,50,61,34,NaN,fairy,NaN,0.3,0.7,184.0
MimeJr,Soundproof,Filter,25,145.0,Mime Pokémon,NaN,45,6400.0,364.0,20,2.000,0.6,Technician,NaN,70,90,60,NaN,psychic,fairy,13.0,28.7,363.0
Morgrem,Prankster,Frisk,60,120.0,Devious Pokémon,NaN,45,5120.0,239.0,65,2.583,0.8,Pickpocket,NaN,75,55,70,NaN,dark,fairy,12.5,27.6,238.0
Morpeko,Hunger Switch,NaN,95,180.0,Two-Sided Pokémon,NaN,58,2560.0,344.0,58,1.000,0.3,NaN,NaN,70,58,97,NaN,electric,dark,3.0,6.6,343.0
MrMime,Vital Spirit,Screen Cleaner,65,45.0,Barrier Pokémon,NaN,65,6400.0,365.0,50,4.250,1.3,Ice Body,NaN,90,90,100,NaN,ice,psychic,54.5,120.2,364.0
MrRime,Tangled Feet,Screen Cleaner,85,45.0,Comedian Pokémon,NaN,75,6400.0,366.0,80,4.917,1.5,Ice Body,NaN,110,100,70,NaN,ice,psychic,58.2,128.3,365.0
Nickit,Run Away,Unburden,28,255.0,Fox Pokémon,NaN,28,3840.0,29.0,40,2.000,0.6,Stakeout,NaN,47,52,50,NaN,dark,NaN,8.9,19.6,28.0
Obstagoon,Reckless,Guts,90,45.0,Blocking Pokémon,NaN,101,3840.0,33.0,93,5.250,1.6,Defiant,NaN,60,81,95,NaN,dark,normal,46.0,101.4,32.0
Orbeetle,Swarm,Frisk,45,45.0,Seven Spot Pokémon,NaN,110,3840.0,12.0,60,1.333,0.4,Telepathy,NaN,80,120,90,NaN,bug,psychic,40.8,89.9,11.0
Perrserker,Battle Armor,Tough Claws,110,90.0,Viking Pokémon,NaN,100,5120.0,183.0,70,2.583,0.8,Steely Spirit,NaN,50,60,50,NaN,steel,NaN,28.0,61.7,182.0
Pincurchin,Lightning Rod,NaN,101,75.0,Sea Urchin Pokémon,NaN,95,5120.0,353.0,48,1.000,0.3,Electric Surge,NaN,91,85,15,NaN,electric,NaN,1.0,2.2,352.0
Polteageist,Weak Armor,NaN,65,60.0,Black Tea Pokémon,NaN,65,5120.0,336.0,60,0.667,0.2,Cursed Body,NaN,134,114,70,NaN,ghost,NaN,0.4,0.9,335.0
Raboot,Blaze,NaN,86,45.0,Rabbit Pokémon,NaN,60,5120.0,5.0,65,2.000,0.6,Libero,NaN,55,60,94,NaN,fire,NaN,9.0,19.8,4.0
Rillaboom,Overgrow,NaN,125,45.0,Drummer Pokémon,NaN,90,5120.0,3.0,100,6.917,2.1,Grassy Surge,NaN,60,70,85,NaN,grass,NaN,90.0,198.4,2.0
Rolycoly,Steam Engine,Heatproof,40,255.0,Coal Pokémon,NaN,50,3840.0,161.0,30,1.000,0.3,Flash Fire,NaN,40,50,30,NaN,rock,NaN,12.0,26.5,160.0
Rookidee,Keen Eye,Unnerve,47,255.0,Tiny Bird Pokémon,NaN,35,3840.0,21.0,38,0.667,0.2,Big Pecks,NaN,33,35,57,NaN,flying,NaN,1.8,4.0,20.0
Runerigus,Wandering Spirit,NaN,95,90.0,Grudge Pokémon,NaN,145,6400.0,328.0,58,5.250,1.6,NaN,NaN,50,105,30,NaN,ground,ghost,66.6,146.8,327.0
Sandaconda,Sand Spit,Shed Skin,107,120.0,Sand Snake Pokémon,NaN,125,5120.0,313.0,72,12.500,3.8,Sand Veil,NaN,65,70,71,NaN,ground,NaN,65.5,144.4,312.0
Scorbunny,Blaze,NaN,71,45.0,Rabbit Pokémon,NaN,40,5120.0,4.0,50,1.000,0.3,Libero,NaN,40,40,69,NaN,fire,NaN,4.5,9.9,3.0
Silicobra,Sand Spit,Shed Skin,57,255.0,Sand Snake Pokémon,NaN,75,5120.0,312.0,52,7.250,2.2,Sand Veil,NaN,35,50,46,NaN,ground,NaN,7.6,16.8,311.0
Sinistea,Weak Armor,NaN,45,120.0,Black Tea Pokémon,NaN,45,5120.0,335.0,40,0.333,0.1,Cursed Body,NaN,74,54,50,NaN,ghost,NaN,0.2,0.4,334.0
Sirfetchd,Steadfast,NaN,135,45.0,Wild Duck Pokémon,NaN,95,5120.0,219.0,62,2.583,0.8,Scrappy,NaN,68,82,65,NaN,fighting,NaN,117.0,257.9,218.0
Sizzlipede,Flash Fire,White Smoke,65,190.0,Radiator Pokémon,NaN,45,5120.0,159.0,50,2.333,0.7,Flame Body,NaN,50,50,45,NaN,fire,bug,1.0,2.2,158.0
Skwovet,Cheek Pouch,NaN,55,255.0,Cheeky Pokémon,NaN,55,5120.0,24.0,70,1.000,0.3,Gluttony,NaN,35,35,25,NaN,normal,NaN,2.5,5.5,23.0
Snom,Shield Dust,NaN,25,190.0,Worm Pokémon,NaN,35,5120.0,349.0,30,1.000,0.3,Ice Scales,NaN,45,30,20,NaN,ice,bug,3.8,8.4,348.0
Sobble,Torrent,NaN,40,45.0,Water Lizard Pokémon,NaN,40,5120.0,7.0,50,1.000,0.3,Sniper,NaN,70,40,70,NaN,water,NaN,4.0,8.8,6.0
Stonjourner,Power Spot,NaN,125,60.0,Big Rock Pokémon,NaN,135,6400.0,369.0,100,8.167,2.5,NaN,NaN,20,20,70,NaN,rock,NaN,520.0,1146.4,368.0
Thievul,Run Away,Unburden,58,127.0,Fox Pokémon,NaN,58,3840.0,30.0,70,3.917,1.2,Stakeout,NaN,87,92,90,NaN,dark,NaN,19.9,43.9,29.0
Thwackey,Overgrow,NaN,85,45.0,Beat Pokémon,NaN,70,5120.0,2.0,70,2.333,0.7,Grassy Surge,NaN,55,60,80,NaN,grass,NaN,14.0,30.9,1.0
Toxel,Rattled,Static,38,75.0,Baby Pokémon,NaN,35,6400.0,310.0,40,1.333,0.4,Klutz,NaN,54,35,40,NaN,electric,poison,11.0,24.3,309.0
Toxtricity,Punk Rock,Plus,98,45.0,Punk Pokémon,NaN,70,6400.0,311.0,75,5.250,1.6,Technician,NaN,114,70,75,NaN,electric,poison,40.0,88.2,310.0
TypeNull,Battle Armor,NaN,95,3.0,Synthetic Pokémon,NaN,95,30720.0,381.0,95,6.250,1.9,NaN,NaN,95,95,59,NaN,normal,NaN,120.5,265.7,380.0
Wishiwashi,Schooling,NaN,20,60.0,Small Fry Pokémon,NaN,20,3840.0,155.0,45,0.667,0.2,NaN,NaN,25,25,40,NaN,water,NaN,0.3,0.7,154.0
Wooloo,Fluffy,Run Away,40,255.0,Sheep Pokémon,NaN,55,3840.0,34.0,42,2.000,0.6,Bulletproof,NaN,40,45,48,NaN,normal,NaN,6.0,13.2,33.0
Yamper,Ball Fetch,NaN,45,255.0,Puppy Pokémon,NaN,50,5120.0,46.0,59,1.000,0.3,Rattled,NaN,40,50,26,NaN,electric,NaN,13.5,29.8,45.0
Zacian,Intrepid Sword,NaN,130,10.0,Warrior Pokémon,NaN,115,30720.0,398.0,92,9.167,2.8,NaN,NaN,80,115,138,NaN,fairy,NaN,110.0,242.5,397.0
Zamazenta,Dauntless Shield,NaN,130,10.0,Warrior Pokémon,NaN,115,30720.0,399.0,92,9.500,2.9,NaN,NaN,80,115,138,NaN,fighting,NaN,210.0,463.0,398.0

In [40]:
combined_pokedex_df['Total'] = combined_pokedex_df['HP']\
                               + combined_pokedex_df['Atk']\
                               + combined_pokedex_df['Def']\
                               + combined_pokedex_df['SpAtk']\
                               + combined_pokedex_df['SpDef']\
                               + combined_pokedex_df['Speed']

In [41]:
pokedex_df['Total']/ pokedex_df['HP'] # computes the ratio between total stats and HP

Index
1.0      7.066667
2.0      6.750000
3.0      6.562500
4.0      7.923077
5.0      6.982759
           ...
798.0    9.661017
799.0    2.556054
800.0    6.185567
801.0    7.500000
802.0    6.666667
Length: 820, dtype: float64

### Universal functions
Universal functions can operate on entire dataframes or slices of dataframes. They return a dataframe copy with the same index as the original dataframe. Numpy universal functions can be applied to any numeric dataframe or slice.

In [42]:
np.log(pokedex_df.loc[:,'HP':'Total'].astype(float)) # take natural log of all stats
# again, these functions operate on each element independently, and return a dataframe with the same index and size of input

             HP       Atk       Def     SpAtk     SpDef     Speed     Total
Index
1.0    3.806662  3.891820  3.891820  4.174387  4.174387  3.806662  5.762051
2.0    4.094345  4.127134  4.143135  4.382027  4.382027  4.094345  6.003887
3.0    4.382027  4.406719  4.418841  4.605170  4.605170  4.382027  6.263398
4.0    3.663562  3.951244  3.761200  4.094345  3.912023  4.174387  5.733341
5.0    4.060443  4.158883  4.060443  4.382027  4.174387  4.382027  6.003887
...         ...       ...       ...       ...       ...       ...       ...
798.0  4.077537  5.198497  4.875197  4.077537  3.433987  4.691348  6.345636
799.0  5.407172  4.615121  3.970292  4.574711  3.970292  3.761200  6.345636
800.0  4.574711  4.672829  4.615121  4.844187  4.488636  4.369448  6.396930
801.0  4.382027  4.553877  4.744932  4.867534  4.744932  4.174387  6.396930
802.0  4.499810  4.828314  4.382027  4.499810  4.499810  4.828314  6.396930

[820 rows x 7 columns]

### .apply()
You can apply an arbitrary function to each row or column using the `.apply()` function.

If you pass the name of a function (e.g. np.mean, or the name of any function you've written), you can apply it to either each column, or each row using `.apply()`

In [43]:
pokedex_df.loc[:,'Atk':'Speed'].apply(np.mean) # applies the function np.mean() to each column

Atk      76.115854
Def      71.919512
SpAtk    69.957317
SpDef    70.370732
Speed    66.140244
dtype: float64

In [44]:
pokedex_df.loc[:,'Atk':'Speed'].apply(np.mean, axis=1) # if you wanted to apply it to each row instead, use the argument axis=1

Index
1.0       54.6
2.0       69.0
3.0       89.0
4.0       54.0
5.0       69.4
         ...
798.0    102.2
799.0     69.4
800.0    100.6
801.0    104.0
802.0    102.0
Length: 820, dtype: float64

The above example is actually a bit unnecessary. There are several built-in functions in dataframes, including a `.mean()` which has the same functionality.

In [45]:
pokedex_df.loc[:,'Atk':'Speed'].mean()

Atk      76.115854
Def      71.919512
SpAtk    69.957317
SpDef    70.370732
Speed    66.140244
dtype: float64

In [46]:
pokedex_df.loc[:,'Atk':'Speed'].mean(axis=1) #applies per row

Index
1.0       54.6
2.0       69.0
3.0       89.0
4.0       54.0
5.0       69.4
         ...
798.0    102.2
799.0     69.4
800.0    100.6
801.0    104.0
802.0    102.0
Length: 820, dtype: float64

Most [descriptive statistics](https://pandas.pydata.org/pandas-docs/stable/reference/frame.html#computations-descriptive-stats) (median, mode, standard deviation, count, quantile, etc) have built-in functions. Where `.apply()` really shines, however, is for applying custom functions. 

To show that functionality, let's take a sidebar and talk about lambda functions.

#### Lambda functions
Sometimes you want to define a function, but you don't want to write the whole function declaration setup 
```
def functionname(inputs):
  ...
  return outputs
```

In those situations, you can write lambda (also known as anonymous) functions. The syntax for a lambda function is:

```
functionname = lambda x: operations_on_x
```

For example, if you wanted to write a function that squares the input, you could write:

In [47]:
square_it = lambda x: x**2 # recall that ** is exponentiation in python, this function returns the square of the input
for num in range(10):
  print(square_it(num))

0
1
4
9
16
25
36
49
64
81

This is especially useful if some function takes another function as an argument, like panda's `.apply()`

The typical usage of `.apply()` is:

`dataframe_obj.apply(functionname)`, which calls `functionname` on each column of `dataframe_obj`

However, you can replace `functionname` with a lambda function. In this example, we use the following lambda function:

```lambda col: [np.min(col), np.max(col)]```

The word `col` represents the argument, and then to the right of the colon, we return a list with two elements: the minimum and maximum values of the column

In [48]:
stats_ranges = pokedex_df.loc[:,'HP':'Total'].apply(lambda col: [np.min(col), np.max(col)])
print(stats_ranges)

    HP  Atk  Def  SpAtk  SpDef  Speed  Total
0    1    5    5     10     20      5    175
1  255  181  230    180    230    180    720

the above can be expanded into a dataframe:

In [49]:
pokedex_df.loc[:,'HP':'Total'].apply(lambda col: [np.min(col), np.mean(col), np.max(col)], result_type='expand')
# each respective row corresponds to the function applied to the column

,HP,Atk,Def,SpAtk,SpDef,Speed,Total
0,1.00000,5.000000,5.000000,10.000000,20.000000,5.000000,175.000000
1,68.60122,76.115854,71.919512,69.957317,70.370732,66.140244,423.104878
2,255.00000,181.000000,230.000000,180.000000,230.000000,180.000000,720.000000

In [50]:
# we can rename the rows to make it more interpretable. Also note the backslash \
# character allows a command to continue onto the next line, ignoring whitespace
pokedex_df.loc[:,'HP':'Total']\
          .apply(lambda col: [np.min(col), np.mean(col), np.max(col)], result_type='expand')\
          .rename({0:'min', 1:'mean', 2:'max'})

,HP,Atk,Def,SpAtk,SpDef,Speed,Total
min,1.00000,5.000000,5.000000,10.000000,20.000000,5.000000,175.000000
mean,68.60122,76.115854,71.919512,69.957317,70.370732,66.140244,423.104878
max,255.00000,181.000000,230.000000,180.000000,230.000000,180.000000,720.000000

### Groupby
Dataframes can be grouped by column values, and operations can be applied to each group

In [51]:
# counts the number of pokemon of each type combination
pokedex_df.groupby(['Type I','Type II'])['Total'].count()

Type I  Type II
Bug                 18
        Electric     4
        Fairy        2
        Fighting     3
        Fire         2
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: Total, Length: 163, dtype: int64

In [52]:
# gets the range of stats for each type combination
pokedex_df.groupby(['Type I','Type II'])['Total'].apply(lambda col: [np.min(col), np.max(col)])

Type I  Type II
Bug                 [194, 500]
        Electric    [319, 500]
        Fairy       [304, 464]
        Fighting    [500, 570]
        Fire        [360, 550]
                       ...
Water   Ice         [475, 535]
        Poison      [335, 515]
        Psychic     [315, 520]
        Rock        [355, 495]
        Steel       [530, 530]
Name: Total, Length: 163, dtype: object

# Multi-level indexing
In this section, we'll cover some more advanced topics in pandas, including 
*   Multi-indexing
*   Pivot tables

We'll be introducing some more data to play with, based on state populations over time

In [53]:
state_populations_url = 'https://raw.githubusercontent.com/jakevdp/data-USstates/master/state-population.csv'
state_abbrevs_url = 'https://raw.githubusercontent.com/jakevdp/data-USstates/master/state-abbrevs.csv'
state_areas_url = 'https://raw.githubusercontent.com/jakevdp/data-USstates/master/state-areas.csv'

state_areas = pd.read_csv(state_areas_url, index_col='state')
state_areas.head() # just print top 5 rows

            area (sq. mi)
state
Alabama             52423
Alaska             656425
Arizona            114006
Arkansas            53182
California         163707

In [54]:
state_abbrevs = pd.read_csv(state_abbrevs_url)
state_abbrevs.head()

        state abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA

In [55]:
state_populations = pd.read_csv(state_populations_url) 
state_populations.head(10) #print first 10 rows

  state/region     ages  year  population
0           AL  under18  2012   1117489.0
1           AL    total  2012   4817528.0
2           AL  under18  2010   1130966.0
3           AL    total  2010   4785570.0
4           AL  under18  2011   1125763.0
5           AL    total  2011   4801627.0
6           AL    total  2009   4757938.0
7           AL  under18  2009   1134192.0
8           AL  under18  2013   1111481.0
9           AL    total  2013   4833722.0

In [56]:
state_populations.tail() #last 5

     state/region     ages  year   population
2539          USA    total  2010  309326295.0
2540          USA  under18  2011   73902222.0
2541          USA    total  2011  311582564.0
2542          USA  under18  2012   73708179.0
2543          USA    total  2012  313873685.0

Note that the state populations are just listed by abbreviations. It may be useful to include the state names as a column in a table. We have this information in the `state_abbrevs` table. We'd like to merge it with the population data.

The function `pd.merge()` merges two dataframes using set logic.

In [57]:
merged = pd.merge(state_populations, state_abbrevs, how='outer',
                 left_on='state/region', right_on='abbreviation')
# The arguments left_on and right_on specify what columns to join on. It looks for matching values in each dataframe
# and fills in the additional columns of the merged dataframe based on the matching data
# The 'how' argument specifies what kind of join. Outer means keep all entries even if one does not show up in the other
# conversely, 'inner' discards rows where a corresponding entry does not exist in the other
merged

     state/region     ages  year   population    state abbreviation
0              AL  under18  2012    1117489.0  Alabama           AL
1              AL    total  2012    4817528.0  Alabama           AL
2              AL  under18  2010    1130966.0  Alabama           AL
3              AL    total  2010    4785570.0  Alabama           AL
4              AL  under18  2011    1125763.0  Alabama           AL
...           ...      ...   ...          ...      ...          ...
2539          USA    total  2010  309326295.0      NaN          NaN
2540          USA  under18  2011   73902222.0      NaN          NaN
2541          USA    total  2011  311582564.0      NaN          NaN
2542          USA  under18  2012   73708179.0      NaN          NaN
2543          USA    total  2012  313873685.0      NaN          NaN

[2544 rows x 6 columns]

In [58]:
# we can also drop the unnecessary extra abbreviation column now
merged = merged.drop('abbreviation', axis=1) #drop from columns
merged.head()

  state/region     ages  year  population    state
0           AL  under18  2012   1117489.0  Alabama
1           AL    total  2012   4817528.0  Alabama
2           AL  under18  2010   1130966.0  Alabama
3           AL    total  2010   4785570.0  Alabama
4           AL  under18  2011   1125763.0  Alabama

In [59]:
# we can check if there were any missing values
merged.isnull().any()

state/region    False
ages            False
year            False
population       True
state            True
dtype: bool

In [60]:
# let's see where the issue is. What entries are missing population entries?
merged.loc[merged['population'].isnull()]

     state/region     ages  year  population state
2448           PR  under18  1990         NaN   NaN
2449           PR    total  1990         NaN   NaN
2450           PR    total  1991         NaN   NaN
2451           PR  under18  1991         NaN   NaN
2452           PR    total  1993         NaN   NaN
2453           PR  under18  1993         NaN   NaN
2454           PR  under18  1992         NaN   NaN
2455           PR    total  1992         NaN   NaN
2456           PR  under18  1994         NaN   NaN
2457           PR    total  1994         NaN   NaN
2458           PR    total  1995         NaN   NaN
2459           PR  under18  1995         NaN   NaN
2460           PR  under18  1996         NaN   NaN
2461           PR    total  1996         NaN   NaN
2462           PR  under18  1998         NaN   NaN
2463           PR    total  1998         NaN   NaN
2464           PR    total  1997         NaN   NaN
2465           PR  under18  1997         NaN   NaN
2466           PR    total  1999         NaN   NaN
2467           PR  under18  1999         NaN   NaN

In [61]:
# what about where there's no state entry?
merged.loc[merged['state'].isnull(), 'state/region']

2448     PR
2449     PR
2450     PR
2451     PR
2452     PR
2453     PR
2454     PR
2455     PR
2456     PR
2457     PR
2458     PR
2459     PR
2460     PR
2461     PR
2462     PR
2463     PR
2464     PR
2465     PR
2466     PR
2467     PR
2468     PR
2469     PR
2470     PR
2471     PR
2472     PR
2473     PR
2474     PR
2475     PR
2476     PR
2477     PR
2478     PR
2479     PR
2480     PR
2481     PR
2482     PR
2483     PR
2484     PR
2485     PR
2486     PR
2487     PR
2488     PR
2489     PR
2490     PR
2491     PR
2492     PR
2493     PR
2494     PR
2495     PR
2496    USA
2497    USA
2498    USA
2499    USA
2500    USA
2501    USA
2502    USA
2503    USA
2504    USA
2505    USA
2506    USA
2507    USA
2508    USA
2509    USA
2510    USA
2511    USA
2512    USA
2513    USA
2514    USA
2515    USA
2516    USA
2517    USA
2518    USA
2519    USA
2520    USA
2521    USA
2522    USA
2523    USA
2524    USA
2525    USA
2526    USA
2527    USA
2528    USA
2529    USA
2530    USA
2531    USA
2532    USA
2533    USA
2534    USA
2535    USA
2536    USA
2537    USA
2538    USA
2539    USA
2540    USA
2541    USA
2542    USA
2543    USA
Name: state/region, dtype: object

In [62]:
# more concicely, we can use .unique() to only see the unique values
# merged.loc[merged['state'].isnull(), 'state/region'].unique()

merged.loc[merged['state'].isnull(), 'state/region'].unique()

array(['PR', 'USA'], dtype=object)

In [63]:
# We can fix this easily
merged.loc[merged['state/region'] == 'PR', 'state'] = 'Puerto Rico'
merged.loc[merged['state/region'] == 'USA', 'state'] = 'United States'
merged.isnull().any()

state/region    False
ages            False
year            False
population       True
state           False
dtype: bool

In [64]:
# now let's combine the data with the area data
final = pd.merge(merged, state_areas, on='state', how='left')
final

     state/region     ages  year   population          state  area (sq. mi)
0              AL  under18  2012    1117489.0        Alabama        52423.0
1              AL    total  2012    4817528.0        Alabama        52423.0
2              AL  under18  2010    1130966.0        Alabama        52423.0
3              AL    total  2010    4785570.0        Alabama        52423.0
4              AL  under18  2011    1125763.0        Alabama        52423.0
...           ...      ...   ...          ...            ...            ...
2539          USA    total  2010  309326295.0  United States            NaN
2540          USA  under18  2011   73902222.0  United States            NaN
2541          USA    total  2011  311582564.0  United States            NaN
2542          USA  under18  2012   73708179.0  United States            NaN
2543          USA    total  2012  313873685.0  United States            NaN

[2544 rows x 6 columns]

In [65]:
# now let's combine the data with the area data
final = pd.merge(merged, state_areas, on='state', how='left')
final

     state/region     ages  year   population          state  area (sq. mi)
0              AL  under18  2012    1117489.0        Alabama        52423.0
1              AL    total  2012    4817528.0        Alabama        52423.0
2              AL  under18  2010    1130966.0        Alabama        52423.0
3              AL    total  2010    4785570.0        Alabama        52423.0
4              AL  under18  2011    1125763.0        Alabama        52423.0
...           ...      ...   ...          ...            ...            ...
2539          USA    total  2010  309326295.0  United States            NaN
2540          USA  under18  2011   73902222.0  United States            NaN
2541          USA    total  2011  311582564.0  United States            NaN
2542          USA  under18  2012   73708179.0  United States            NaN
2543          USA    total  2012  313873685.0  United States            NaN

[2544 rows x 6 columns]

In [66]:
# we can use the .query() syntax to search for specific data
data2010 = final.query("year == 2010 & ages == 'total'") # specify column name 
data2010.set_index('state', inplace=True) # equivalent to data2010 = data2010.set_index('state')
data2010.head()

final

     state/region     ages  year   population          state  area (sq. mi)
0              AL  under18  2012    1117489.0        Alabama        52423.0
1              AL    total  2012    4817528.0        Alabama        52423.0
2              AL  under18  2010    1130966.0        Alabama        52423.0
3              AL    total  2010    4785570.0        Alabama        52423.0
4              AL  under18  2011    1125763.0        Alabama        52423.0
...           ...      ...   ...          ...            ...            ...
2539          USA    total  2010  309326295.0  United States            NaN
2540          USA  under18  2011   73902222.0  United States            NaN
2541          USA    total  2011  311582564.0  United States            NaN
2542          USA  under18  2012   73708179.0  United States            NaN
2543          USA    total  2012  313873685.0  United States            NaN

[2544 rows x 6 columns]

In [67]:
# Let's compute the density of each state and then sort by density
density = data2010['population'] / data2010['area (sq. mi)']
density.sort_values(ascending=False, inplace=True)
density

state
District of Columbia    8898.897059
Puerto Rico             1058.665149
New Jersey              1009.253268
Rhode Island             681.339159
Connecticut              645.600649
Massachusetts            621.815538
Maryland                 466.445797
Delaware                 460.445752
New York                 356.094135
Florida                  286.597129
Pennsylvania             275.966651
Ohio                     257.549634
California               228.051342
Illinois                 221.687472
Virginia                 187.622273
Indiana                  178.197831
North Carolina           177.617157
Georgia                  163.409902
Tennessee                150.825298
South Carolina           144.854594
New Hampshire            140.799273
Hawaii                   124.746707
Kentucky                 107.586994
Michigan                 102.015794
Washington                94.557817
Texas                     93.987655
Alabama                   91.287603
Louisiana                 87.676099
Wisconsin                 86.851900
Missouri                  86.015622
West Virginia             76.519582
Vermont                   65.085075
Mississippi               61.321530
Minnesota                 61.078373
Arizona                   56.214497
Arkansas                  54.948667
Iowa                      54.202751
Oklahoma                  53.778278
Colorado                  48.493718
Oregon                    39.001565
Maine                     37.509990
Kansas                    34.745266
Utah                      32.677188
Nevada                    24.448796
Nebraska                  23.654153
Idaho                     18.794338
New Mexico                16.982737
South Dakota              10.583512
North Dakota               9.537565
Montana                    6.736171
Wyoming                    5.768079
Alaska                     1.087509
United States                   NaN
dtype: float64

In [68]:
density.tail()

state
North Dakota     9.537565
Montana          6.736171
Wyoming          5.768079
Alaska           1.087509
United States         NaN
dtype: float64

### Exercises
Compute the total population of the entire united states, as well as its population density for each year.

Sort the states by population density.

What year saw the biggest change in population for the US as a whole?

Which states had the biggest percentage change in population in that year?

In [69]:
# #Question 1
# FINISH THIS! DON"T FORGET ABOUT IT!!!!!
# (Specifically question 3 & 4)
df_exercise = final.query("ages == 'total' & state != 'United States' &  state !='Puerto Rico'")
yearTOTAL_pop_den = df_exercise.groupby('year')[['population','area (sq. mi)']].sum()

yearTOTAL_pop_den['population density'] = yearTOTAL_pop_den['population']/yearTOTAL_pop_den['area (sq. mi)']
yearTOTAL_pop_den
#________________________________________________________________

       population  area (sq. mi)  population density
year
1990  249622814.0      3786884.0           65.917734
1991  252980942.0      3786884.0           66.804513
1992  256514231.0      3786884.0           67.737546
1993  259918595.0      3786884.0           68.636535
1994  263125826.0      3786884.0           69.483466
1995  266278403.0      3786884.0           70.315965
1996  269394291.0      3786884.0           71.138776
1997  272646932.0      3786884.0           71.997698
1998  275854116.0      3786884.0           72.844617
1999  279040181.0      3786884.0           73.685959
2000  282162411.0      3786884.0           74.510445
2001  284968955.0      3786884.0           75.251567
2002  287625193.0      3786884.0           75.952998
2003  290107933.0      3786884.0           76.608614
2004  292805298.0      3786884.0           77.320905
2005  295516599.0      3786884.0           78.036876
2006  298379912.0      3786884.0           78.792990
2007  301231207.0      3786884.0           79.545929
2008  304093966.0      3786884.0           80.301896
2009  306771529.0      3786884.0           81.008959
2010  309326295.0      3786884.0           81.683594
2011  311582564.0      3786884.0           82.279405
2012  313873685.0      3786884.0           82.884420
2013  316128839.0      3786884.0           83.479937

In [70]:
#Question 2
pop_DENSITY = df_exercise.copy()
pop_DENSITY['population density'] = pop_DENSITY['population']/pop_DENSITY['area (sq. mi)']
pop_DENSITY = pop_DENSITY.sort_values(by='population density',ascending=False)
pop_DENSITY

,state/region,ages,year,population,state,area (sq. mi),population density
391,DC,total,2013,646449.0,District of Columbia,68.0,9506.602941
385,DC,total,2012,633427.0,District of Columbia,68.0,9315.102941
387,DC,total,2011,619624.0,District of Columbia,68.0,9112.117647
431,DC,total,1990,605321.0,District of Columbia,68.0,8901.779412
389,DC,total,2010,605125.0,District of Columbia,68.0,8898.897059
...,...,...,...,...,...,...,...
53,AK,total,1994,603308.0,Alaska,656425.0,0.919081
56,AK,total,1993,599434.0,Alaska,656425.0,0.913180
50,AK,total,1992,588736.0,Alaska,656425.0,0.896882
55,AK,total,1991,570193.0,Alaska,656425.0,0.868634
48,AK,total,1990,553290.0,Alaska,656425.0,0.842884

In [115]:
#Question 3
year_popCHANGE= yearTOTAL_pop_den.copy()
year_popCHANGE['population change'] = year_popCHANGE['population'].diff()
year_popCHANGE = year_popCHANGE.sort_values(by='population change', ascending=False)
 

max = year_popCHANGE['population change'].max() #display years with that

# year_popCHANGE.query("'population change' == max")
# max
year_popCHANGE.query("year == 1992")

#I want to recieve the year for when the population change is == max
# Can you find the index based of item in a certain colum
# Could you use column name & value of item in that column to recieve index
# Without using sorting & then .loc[]

       population  area (sq. mi)  population density  population change
year
1992  256514231.0      3786884.0           67.737546          3533289.0

In [95]:
#Question 4
#the year with the highest population change is 1992
year_1991 = pop_DENSITY.query("year == 1991").copy()

 
#we need data from the year before(1999) to calculate the percent change
year_1992 = pop_DENSITY.query("year == 1992").copy()
year_1992

#Merging the two columns by state
year_percentCHANGE = pd.merge(year_1991, year_1992, on='state', suffixes=("1991","1992"))

#Then, we only keep the state, population of 1991 & 1992 columns
year_percentCHANGE = year_percentCHANGE[['state','population1991','population1992']]

#Subtracting the pop for 1992 by pop for 1991 for all states
year_percentCHANGE['population diff'] = year_percentCHANGE['population1992'] - year_percentCHANGE['population1991']

#Dividing that value by pop for 1991 for each state to get percentage (ig that's how the math works)
year_percentCHANGE['percent change'] = (year_percentCHANGE['population diff'] / year_percentCHANGE['population1991']) * 100

year_percentCHANGE  = year_percentCHANGE .sort_values(by='percent change',ascending=False).reset_index()
year_percentCHANGE

#Since we order ascending to be False, the highest value should be on top, 
#so we can just locate the first index to find the state with the greatest pop change
year_percentCHANGE.loc[0,'state']

'Nevada'

In [73]:
final = final.reset_index()
final

,index,state/region,ages,year,population,state,area (sq. mi)
0,0,AL,under18,2012,1117489.0,Alabama,52423.0
1,1,AL,total,2012,4817528.0,Alabama,52423.0
2,2,AL,under18,2010,1130966.0,Alabama,52423.0
3,3,AL,total,2010,4785570.0,Alabama,52423.0
4,4,AL,under18,2011,1125763.0,Alabama,52423.0
...,...,...,...,...,...,...,...
2539,2539,USA,total,2010,309326295.0,United States,NaN
2540,2540,USA,under18,2011,73902222.0,United States,NaN
2541,2541,USA,total,2011,311582564.0,United States,NaN
2542,2542,USA,under18,2012,73708179.0,United States,NaN
2543,2543,USA,total,2012,313873685.0,United States,NaN

In [74]:
# set index to use multiple columns
final = final.set_index(['state/region','year','ages']) # overwrite old version with new version with index set
final = final.sort_index() # replace itself with a version with a sorted index
final.tail(10) #print last 10 entries

                           index  population    state  area (sq. mi)
state/region year ages
WY           2009 total     2406    559851.0  Wyoming        97818.0
                  under18   2407    134960.0  Wyoming        97818.0
             2010 total     2405    564222.0  Wyoming        97818.0
                  under18   2404    135351.0  Wyoming        97818.0
             2011 total     2402    567329.0  Wyoming        97818.0
                  under18   2403    135407.0  Wyoming        97818.0
             2012 total     2400    576626.0  Wyoming        97818.0
                  under18   2401    136526.0  Wyoming        97818.0
             2013 total     2408    582658.0  Wyoming        97818.0
                  under18   2409    137679.0  Wyoming        97818.0

## Multiindexing
You can use multiple columns to define an index, as long as each row has a unique combination of values within those columns. In the following example, we will use the columns "state/region", "year", and "ages" of the population dataframe as an index

We use the `.set_index(['column_name1', 'column_name2, ...])'` command to create a multiindex from existing columns.

Note that many operations require a multiindex to be sorted, so we also call `.sort_index()` on the dataframe. Also, `.set_index()` and `.sort_index()` return a _copy_ of the dataframe, so we assign the output to itself to update the value.

In [75]:
final.loc[('MA',2009,'total'):('MD',1991,'total')]

                           index  population          state  area (sq. mi)
state/region year ages
MA           2009 total     1047   6517613.0  Massachusetts        10555.0
                  under18   1048   1422935.0  Massachusetts        10555.0
             2010 total     1050   6563263.0  Massachusetts        10555.0
                  under18   1051   1415962.0  Massachusetts        10555.0
             2011 total     1052   6606285.0  Massachusetts        10555.0
                  under18   1053   1407240.0  Massachusetts        10555.0
             2012 total     1055   6645303.0  Massachusetts        10555.0
                  under18   1054   1399417.0  Massachusetts        10555.0
             2013 total     1049   6692824.0  Massachusetts        10555.0
                  under18   1046   1393946.0  Massachusetts        10555.0
MD           1990 total     1007   4799770.0       Maryland        12407.0
                  under18   1006   1180426.0       Maryland        12407.0
             1991 total     1004   4867641.0       Maryland        12407.0

### Stacking and unstacking
Columns can also have multiple levels. In fact, the columns can be thought of as just another index that runs horizontally. This is most easily illustrated by stacking, unstacking, and transposing.

You can convert a level of the row index to a column level using the `.unstack()` command. Conversely, `.stack()` moves a column level to the index

In [76]:
unstacked = final.unstack(level='ages') # you can unstack by level name; this moves the 'ages' categories into the column index
unstacked # ages is no longer a column

#Another example:
# unstacked = final.unstack(level='year') 
# unstacked

                  index         population              state           \
ages              total under18      total   under18    total  under18
state/region year
AK           1990    48      49   553290.0  177502.0   Alaska   Alaska
             1991    55      51   570193.0  182180.0   Alaska   Alaska
             1992    50      52   588736.0  184878.0   Alaska   Alaska
             1993    56      57   599434.0  187190.0   Alaska   Alaska
             1994    53      54   603308.0  187439.0   Alaska   Alaska
...                 ...     ...        ...       ...      ...      ...
WY           2009  2406    2407   559851.0  134960.0  Wyoming  Wyoming
             2010  2405    2404   564222.0  135351.0  Wyoming  Wyoming
             2011  2402    2403   567329.0  135407.0  Wyoming  Wyoming
             2012  2400    2401   576626.0  136526.0  Wyoming  Wyoming
             2013  2408    2409   582658.0  137679.0  Wyoming  Wyoming

                  area (sq. mi)
ages                      total   under18
state/region year
AK           1990      656425.0  656425.0
             1991      656425.0  656425.0
             1992      656425.0  656425.0
             1993      656425.0  656425.0
             1994      656425.0  656425.0
...                         ...       ...
WY           2009       97818.0   97818.0
             2010       97818.0   97818.0
             2011       97818.0   97818.0
             2012       97818.0   97818.0
             2013       97818.0   97818.0

[1272 rows x 8 columns]

In [77]:
restacked = unstacked.stack('ages', dropna=False) # stacks the column level back into the row index
# by default, .stack() omits entries with NaN. If you want to preserve the NaN entries, use the option dropna=False
restacked == final # just like the original state_populations dataframe

                           index  population  state  area (sq. mi)
state/region year ages
AK           1990 total     True        True   True           True
                  under18   True        True   True           True
             1991 total     True        True   True           True
                  under18   True        True   True           True
             1992 total     True        True   True           True
...                          ...         ...    ...            ...
WY           2011 under18   True        True   True           True
             2012 total     True        True   True           True
                  under18   True        True   True           True
             2013 total     True        True   True           True
                  under18   True        True   True           True

[2544 rows x 4 columns]

In [78]:
final.unstack(level=0) # you can also unstack using integer levels. Here we unstacked level 0, corresponding to state/region

             index                                                             \
state/region    AK  AL   AR   AZ   CA   CO   CT   DC   DE   FL   GA   HI   IA
year ages
1990 total      48  47  145  143  239  240  334  431  337  432  527  529  721
     under18    49  46  144  142  238  241  335  430  336  433  526  528  720
1991 total      55  44  146  140  234  245  331  426  340  435  524  530  722
     under18    51  45  147  139  235  244  330  427  341  434  525  531  723
1992 total      50  43  149  141  237  242  333  429  339  440  519  537  729
     under18    52  42  148  138  236  243  332  428  338  441  518  536  728
1993 total      56  39  152  134  230  249  326  422  344  439  520  534  726
     under18    57  40  153  135  231  248  327  423  345  438  521  535  727
1994 total      53  38  151  137  233  246  329  425  342  436  523  533  725
     under18    54  41  150  136  232  247  328  424  343  437  522  532  724
1995 total      58  35  155  132  228  251  324  420  347  443  516  538  730
     under18    59  36  154  133  229  250  325  421  346  442  517  539  731
1996 total      60  34  157  131  227  252  323  419  348  444  515  541  733
     under18    61  37  156  130  226  253  322  418  349  445  514  540  732
1997 total      65  33  159  128  225  255  320  417  351  448  510  544  736
     under18    62  32  160  129  224  254  321  416  350  447  511  545  737
1998 total      64  30  161  126  223  256  319  415  352  449  513  543  735
     under18    63  31  158  127  222  257  318  414  353  446  512  542  734
1999 total      67  27  165  123  219  260  314  410  356  450  506  548  740
     under18    66  26  164  122  218  261  315  411  357  451  507  549  741
2000 total      68  28  162  124  220  258  316  412  354  452  508  546  738
     under18    69  29  163  125  221  259  317  413  355  453  509  547  739
2001 total      70  22  168  118  214  264  310  406  360  454  502  552  744
     under18    71  23  169  119  215  265  311  407  361  455  503  553  745
2002 total      72  24  166  120  216  262  312  408  358  456  504  550  742
     under18    73  25  167  121  217  263  313  409  359  457  505  551  743
2003 total      74  20  172  116  210  268  306  402  364  458  498  556  748
     under18    75  21  173  117  211  269  307  403  365  459  499  557  749
2004 total      76  18  170  114  212  266  308  404  362  460  500  554  746
     under18    77  19  171  115  213  267  309  405  363  461  501  555  747
2005 total      78  14  176  110  206  272  302  398  368  462  494  560  752
     under18    79  15  177  111  207  273  303  399  369  463  495  561  753
2006 total      80  16  174  112  208  270  304  400  366  464  496  558  750
     under18    81  17  175  113  209  271  305  401  367  465  497  559  751
2007 total      82  10  180  106  202  276  298  394  372  466  490  564  756
     under18    83  11  181  107  203  277  299  395  373  467  491  565  757
2008 total      84  12  178  108  204  274  300  396  370  468  492  562  754
     under18    85  13  179  109  205  275  301  397  371  469  493  563  755
2009 total      88   6  182  104  200  278  296  392  376  470  487  567  759
     under18    89   7  183  105  201  279  297  393  377  471  488  568  760
2010 total      91   3  189  101  197  283  293  389  379  475  485  570  762
     under18    90   2  188  100  196  282  292  388  378  474  484  571  763
2011 total      93   5  187   99  195  285  291  387  381  477  483  572  764
     under18    92   4  186   98  194  284  290  386  380  476  482  573  765
2012 total      95   1  191   97  193  287  289  385  383  479  480  575  767
     under18    94   0  190   96  192  286  288  384  382  478  481  574  766
2013 total      87   9  185  103  199  281  295  391  375  473  486  569  761
     under18    86   8  184  102  198  280  294  390  374  472  489  566  758

                                                                               \
state/region   ID   IL   IN   KS   KY   LA    MA    MD   ME    MI    MN    MO
year ages
1990 total    623  625  719  815  817  911  1009  1007  913  1103  1105  1201
     under18  622  624  718  814  816  910  1008  1006  912  1102  1104  1200
1991 total    620  626  716  812  818  908  1010  1004  914  1100  1106  1202
     under18  621  627  717  813  819  909  1011  1005  915  1101  1107  1203
1992 total    615  633  711  807  825  903  1017   999  921  1095  1113  1209
     under18  614  632  710  806  824  902  1016   998  920  1094  1112  1208
1993 total    616  630  712  808  822  904  1014  1000  918  1096  1110  1206
     under18  617  631  713  809  823  905  1015  1001  919  1097  1111  1207
1994 total    619  629  715  811  821  907  1013  1003  917  1099  1109  1205
     under18  618  628  714  810  820  906  1012  1002  916  1098  1108  1204
1995 total    612  634  708  804  826  900  1018   996  922  1092  1114  1212
     under18  613  635  709  805  827  901  1019   997  923  1093  1115  1213
1996 total    611  637  707  803  829  899  1021   995  925  1091  1117  1211
     under18  610  636  706  802  828  898  1020   994  924  1090  1116  1210
1997 total    606  640  702  798  832  894  1024   990  928  1086  1120  1216
     under18  607  641  703  799  833  895  1025   991  929  1087  1121  1217
1998 total    609  639  705  801  831  897  1023   993  927  1089  1119  1215
     under18  608  638  704  800  830  896  1022   992  926  1088  1118  1214
1999 total    602  644  698  794  836  892  1026   988  930  1084  1122  1218
     under18  603  645  699  795  837  893  1027   989  931  1085  1123  1219
2000 total    604  642  700  796  834  890  1028   986  932  1082  1124  1220
     under18  605  643  701  797  835  891  1029   987  933  1083  1125  1221
2001 total    598  648  694  790  840  886  1030   982  936  1080  1126  1222
     under18  599  649  695  791  841  887  1031   983  937  1081  1127  1223
2002 total    600  646  696  792  838  888  1032   984  934  1078  1128  1224
     under18  601  647  697  793  839  889  1033   985  935  1079  1129  1225
2003 total    594  652  690  786  844  882  1036   978  940  1074  1132  1228
     under18  595  653  691  787  845  883  1037   979  941  1075  1133  1229
2004 total    596  650  692  788  842  884  1034   980  938  1076  1130  1226
     under18  597  651  693  789  843  885  1035   981  939  1077  1131  1227
2005 total    590  656  686  782  848  878  1040   974  944  1070  1136  1232
     under18  591  657  687  783  849  879  1041   975  945  1071  1137  1233
2006 total    592  654  688  784  846  880  1038   976  942  1072  1134  1230
     under18  593  655  689  785  847  881  1039   977  943  1073  1135  1231
2007 total    586  660  682  778  852  874  1044   970  948  1066  1140  1236
     under18  587  661  683  779  853  875  1045   971  949  1067  1141  1237
2008 total    588  658  684  780  850  876  1042   972  946  1068  1138  1234
     under18  589  659  685  781  851  877  1043   973  947  1069  1139  1235
2009 total    583  663  679  775  855  871  1047   967  951  1063  1143  1239
     under18  584  664  680  776  856  872  1048   968  952  1064  1144  1240
2010 total    581  666  677  773  858  869  1050   965  954  1061  1146  1242
     under18  580  667  676  772  859  868  1051   964  955  1060  1147  1243
2011 total    579  668  675  771  860  867  1052   963  956  1059  1148  1244
     under18  578  669  674  770  861  866  1053   962  957  1058  1149  1245
2012 total    576  671  672  768  863  864  1055   960  959  1056  1151  1247
     under18  577  670  673  769  862  865  1054   961  958  1057  1150  1246
2013 total    582  665  678  774  857  870  1049   966  953  1062  1145  1241
     under18  585  662  681  777  854  873  1046   969  950  1065  1142  1238

              ... area (sq. mi)                                               \
state/region  ...            ND       NE      NH      NJ        NM        NV
year ages     ...
1990 total    ...       70704.0  77358.0  9351.0  8722.0  121593.0  110567.0
     under18  ...       70704.0  77358.0  9351.0  8722.0  121593.0  110567.0
1991 total    ...       70704.0  77358.0  9351.0  8722.0  121593.0  110567.0
     under18  ...       70704.0  77358.0  9351.0  8722.0  121593.0  110567.0
1992 total    ...       70704.0  77358.0  9351.0  8722.0  121593.0  110567.0
     under18  ...       70704.0  77358.0  9351.0  8722.0  121593.0  110567.0
1993 total    ...       70704.0  77358.0  9351.0  8722.0  121593.0  110567.0
     under18  ...       70704.0  77358.0  9351.0  8722.0  121593.0  110567.0
1994 total    ...       70704.0  77358.0  9351.0  8722.0  121593.0  110567.0
     under18  ...       70704.0  77358.0  9351.0  8722.0  121593.0  110567.0
1995 total    ...       70704.0  77358.0  9351.0  8722.0  121593.0  110567.0
     under18  ...       70704.0  77358.0  9351.0  8722.0  121593.0  110567.0
1996 total    ...       70704.0  77358.0  9351.0  8722.0  121593.0  110567.0
     under18  ...       70704.0  77358.0  9351.0  8722.0  121593.0  110567.0
1997 total    ...       70704.0  77358.0  9351.0  8722.0  121593.0  110567.0
     under18  ...       70704.0  77358.0  9351.0  8722.0  121593.0  110567.0
1998 total    ...       70704.0  77358.0  9351.0  8722.0  121593.0  110567.0
     under18  ...       70704.0  77358.0  9351.0  8722.0  121593.0  110567.0
1999 total    ...       70704.0  77358.0  9351.0  8722.0  121593.0  110567.0
     under18  ...       70704.0  77358.0  9351.0  8722.0  121593.0  110567.0
2000 total    ...       70704.0  77358.0  9351.0  8722.0  121593.0  110567.0
     under18  ...       70704.0  77358.0  9351.0  8722.0  121593.0  110567.0
2001 total    ...       70704.0  77358.0  9351.0  8722.0  121593.0  110567.0
     under18  ...       70704.0  77358.0  9351.0  8722.0  121593.0  110567.0
2002 total    ...       70704.0  77358.0  9351.0  8722.0  121593.0  110567.0
     under18  ...       70704.0  77358.0  9351.0  8722.0  121593.0  110567.0
2003 total    ...       70704.0  77358.0  9351.0  8722.0  121593.0  110567.0
     under18  ...       70704.0  77358.0  9351.0  8722.0  121593.0  110567.0
2004 total    ...       70704.0  77358.0  9351.0  8722.0  121593.0  110567.0
     under18  ...       70704.0  77358.0  9351.0  8722.0  121593.0  110567.0
2005 total    ...       70704.0  77358.0  9351.0  8722.0  121593.0  110567.0
     under18  ...       70704.0  77358.0  9351.0  8722.0  121593.0  110567.0
2006 total    ...       70704.0  77358.0  9351.0  8722.0  121593.0  110567.0
     under18  ...       70704.0  77358.0  9351.0  8722.0  121593.0  110567.0
2007 total    ...       70704.0  77358.0  9351.0  8722.0  121593.0  110567.0
     under18  ...       70704.0  77358.0  9351.0  8722.0  121593.0  110567.0
2008 total    ...       70704.0  77358.0  9351.0  8722.0  121593.0  110567.0
     under18  ...       70704.0  77358.0  9351.0  8722.0  121593.0  110567.0
2009 total    ...       70704.0  77358.0  9351.0  8722.0  121593.0  110567.0
     under18  ...       70704.0  77358.0  9351.0  8722.0  121593.0  110567.0
2010 total    ...       70704.0  77358.0  9351.0  8722.0  121593.0  110567.0
     under18  ...       70704.0  77358.0  9351.0  8722.0  121593.0  110567.0
2011 total    ...       70704.0  77358.0  9351.0  8722.0  121593.0  110567.0
     under18  ...       70704.0  77358.0  9351.0  8722.0  121593.0  110567.0
2012 total    ...       70704.0  77358.0  9351.0  8722.0  121593.0  110567.0
     under18  ...       70704.0  77358.0  9351.0  8722.0  121593.0  110567.0
2013 total    ...       70704.0  77358.0  9351.0  8722.0  121593.0  110567.0
     under18  ...       70704.0  77358.0  9351.0  8722.0  121593.0  110567.0

                                                                           \
state/region       NY       OH       OK       OR       PA      PR      RI
year ages
1990 total    54475.0  44828.0  69903.0  98386.0  46058.0  3515.0  1545.0
     under18  54475.0  44828.0  69903.0  98386.0  46058.0  3515.0  1545.0
1991 total    54475.0  44828.0  69903.0  98386.0  46058.0  3515.0  1545.0
     under18  54475.0  44828.0  69903.0  98386.0  46058.0  3515.0  1545.0
1992 total    54475.0  44828.0  69903.0  98386.0  46058.0  3515.0  1545.0
     under18  54475.0  44828.0  69903.0  98386.0  46058.0  3515.0  1545.0
1993 total    54475.0  44828.0  69903.0  98386.0  46058.0  3515.0  1545.0
     under18  54475.0  44828.0  69903.0  98386.0  46058.0  3515.0  1545.0
1994 total    54475.0  44828.0  69903.0  98386.0  46058.0  3515.0  1545.0
     under18  54475.0  44828.0  69903.0  98386.0  46058.0  3515.0  1545.0
1995 total    54475.0  44828.0  69903.0  98386.0  46058.0  3515.0  1545.0
     under18  54475.0  44828.0  69903.0  98386.0  46058.0  3515.0  1545.0
1996 total    54475.0  44828.0  69903.0  98386.0  46058.0  3515.0  1545.0
     under18  54475.0  44828.0  69903.0  98386.0  46058.0  3515.0  1545.0
1997 total    54475.0  44828.0  69903.0  98386.0  46058.0  3515.0  1545.0
     under18  54475.0  44828.0  69903.0  98386.0  46058.0  3515.0  1545.0
1998 total    54475.0  44828.0  69903.0  98386.0  46058.0  3515.0  1545.0
     under18  54475.0  44828.0  69903.0  98386.0  46058.0  3515.0  1545.0
1999 total    54475.0  44828.0  69903.0  98386.0  46058.0  3515.0  1545.0
     under18  54475.0  44828.0  69903.0  98386.0  46058.0  3515.0  1545.0
2000 total    54475.0  44828.0  69903.0  98386.0  46058.0  3515.0  1545.0
     under18  54475.0  44828.0  69903.0  98386.0  46058.0  3515.0  1545.0
2001 total    54475.0  44828.0  69903.0  98386.0  46058.0  3515.0  1545.0
     under18  54475.0  44828.0  69903.0  98386.0  46058.0  3515.0  1545.0
2002 total    54475.0  44828.0  69903.0  98386.0  46058.0  3515.0  1545.0
     under18  54475.0  44828.0  69903.0  98386.0  46058.0  3515.0  1545.0
2003 total    54475.0  44828.0  69903.0  98386.0  46058.0  3515.0  1545.0
     under18  54475.0  44828.0  69903.0  98386.0  46058.0  3515.0  1545.0
2004 total    54475.0  44828.0  69903.0  98386.0  46058.0  3515.0  1545.0
     under18  54475.0  44828.0  69903.0  98386.0  46058.0  3515.0  1545.0
2005 total    54475.0  44828.0  69903.0  98386.0  46058.0  3515.0  1545.0
     under18  54475.0  44828.0  69903.0  98386.0  46058.0  3515.0  1545.0
2006 total    54475.0  44828.0  69903.0  98386.0  46058.0  3515.0  1545.0
     under18  54475.0  44828.0  69903.0  98386.0  46058.0  3515.0  1545.0
2007 total    54475.0  44828.0  69903.0  98386.0  46058.0  3515.0  1545.0
     under18  54475.0  44828.0  69903.0  98386.0  46058.0  3515.0  1545.0
2008 total    54475.0  44828.0  69903.0  98386.0  46058.0  3515.0  1545.0
     under18  54475.0  44828.0  69903.0  98386.0  46058.0  3515.0  1545.0
2009 total    54475.0  44828.0  69903.0  98386.0  46058.0  3515.0  1545.0
     under18  54475.0  44828.0  69903.0  98386.0  46058.0  3515.0  1545.0
2010 total    54475.0  44828.0  69903.0  98386.0  46058.0  3515.0  1545.0
     under18  54475.0  44828.0  69903.0  98386.0  46058.0  3515.0  1545.0
2011 total    54475.0  44828.0  69903.0  98386.0  46058.0  3515.0  1545.0
     under18  54475.0  44828.0  69903.0  98386.0  46058.0  3515.0  1545.0
2012 total    54475.0  44828.0  69903.0  98386.0  46058.0  3515.0  1545.0
     under18  54475.0  44828.0  69903.0  98386.0  46058.0  3515.0  1545.0
2013 total    54475.0  44828.0  69903.0  98386.0  46058.0  3515.0  1545.0
     under18  54475.0  44828.0  69903.0  98386.0  46058.0  3515.0  1545.0

                                                                         \
state/region       SC       SD       TN        TX USA       UT       VA
year ages
1990 total    32007.0  77121.0  42146.0  268601.0 NaN  84904.0  42769.0
     under18  32007.0  77121.0  42146.0  268601.0 NaN  84904.0  42769.0
1991 total    32007.0  77121.0  42146.0  268601.0 NaN  84904.0  42769.0
     under18  32007.0  77121.0  42146.0  268601.0 NaN  84904.0  42769.0
1992 total    32007.0  77121.0  42146.0  268601.0 NaN  84904.0  42769.0
     under18  32007.0  77121.0  42146.0  268601.0 NaN  84904.0  42769.0
1993 total    32007.0  77121.0  42146.0  268601.0 NaN  84904.0  42769.0
     under18  32007.0  77121.0  42146.0  268601.0 NaN  84904.0  42769.0
1994 total    32007.0  77121.0  42146.0  268601.0 NaN  84904.0  42769.0
     under18  32007.0  77121.0  42146.0  268601.0 NaN  84904.0  42769.0
1995 total    32007.0  77121.0  42146.0  268601.0 NaN  84904.0  42769.0
     under18  32007.0  77121.0  42146.0  268601.0 NaN  84904.0  42769.0
1996 total    32007.0  77121.0  42146.0  268601.0 NaN  84904.0  42769.0
     under18  32007.0  77121.0  42146.0  268601.0 NaN  84904.0  42769.0
1997 total    32007.0  77121.0  42146.0  268601.0 NaN  84904.0  42769.0
     under18  32007.0  77121.0  42146.0  268601.0 NaN  84904.0  42769.0
1998 total    32007.0  77121.0  42146.0  268601.0 NaN  84904.0  42769.0
     under18  32007.0  77121.0  42146.0  268601.0 NaN  84904.0  42769.0
1999 total    32007.0  77121.0  42146.0  268601.0 NaN  84904.0  42769.0
     under18  32007.0  77121.0  42146.0  268601.0 NaN  84904.0  42769.0
2000 total    32007.0  77121.0  42146.0  268601.0 NaN  84904.0  42769.0
     under18  32007.0  77121.0  42146.0  268601.0 NaN  84904.0  42769.0
2001 total    32007.0  77121.0  42146.0  268601.0 NaN  84904.0  42769.0
     under18  32007.0  77121.0  42146.0  268601.0 NaN  84904.0  42769.0
2002 total    32007.0  77121.0  42146.0  268601.0 NaN  84904.0  42769.0
     under18  32007.0  77121.0  42146.0  268601.0 NaN  84904.0  42769.0
2003 total    32007.0  77121.0  42146.0  268601.0 NaN  84904.0  42769.0
     under18  32007.0  77121.0  42146.0  268601.0 NaN  84904.0  42769.0
2004 total    32007.0  77121.0  42146.0  268601.0 NaN  84904.0  42769.0
     under18  32007.0  77121.0  42146.0  268601.0 NaN  84904.0  42769.0
2005 total    32007.0  77121.0  42146.0  268601.0 NaN  84904.0  42769.0
     under18  32007.0  77121.0  42146.0  268601.0 NaN  84904.0  42769.0
2006 total    32007.0  77121.0  42146.0  268601.0 NaN  84904.0  42769.0
     under18  32007.0  77121.0  42146.0  268601.0 NaN  84904.0  42769.0
2007 total    32007.0  77121.0  42146.0  268601.0 NaN  84904.0  42769.0
     under18  32007.0  77121.0  42146.0  268601.0 NaN  84904.0  42769.0
2008 total    32007.0  77121.0  42146.0  268601.0 NaN  84904.0  42769.0
     under18  32007.0  77121.0  42146.0  268601.0 NaN  84904.0  42769.0
2009 total    32007.0  77121.0  42146.0  268601.0 NaN  84904.0  42769.0
     under18  32007.0  77121.0  42146.0  268601.0 NaN  84904.0  42769.0
2010 total    32007.0  77121.0  42146.0  268601.0 NaN  84904.0  42769.0
     under18  32007.0  77121.0  42146.0  268601.0 NaN  84904.0  42769.0
2011 total    32007.0  77121.0  42146.0  268601.0 NaN  84904.0  42769.0
     under18  32007.0  77121.0  42146.0  268601.0 NaN  84904.0  42769.0
2012 total    32007.0  77121.0  42146.0  268601.0 NaN  84904.0  42769.0
     under18  32007.0  77121.0  42146.0  268601.0 NaN  84904.0  42769.0
2013 total    32007.0  77121.0  42146.0  268601.0 NaN  84904.0  42769.0
     under18  32007.0  77121.0  42146.0  268601.0 NaN  84904.0  42769.0


state/region      VT       WA       WI       WV       WY
year ages
1990 total    9615.0  71303.0  65503.0  24231.0  97818.0
     under18  9615.0  71303.0  65503.0  24231.0  97818.0
1991 total    9615.0  71303.0  65503.0  24231.0  97818.0
     under18  9615.0  71303.0  65503.0  24231.0  97818.0
1992 total    9615.0  71303.0  65503.0  24231.0  97818.0
     under18  9615.0  71303.0  65503.0  24231.0  97818.0
1993 total    9615.0  71303.0  65503.0  24231.0  97818.0
     under18  9615.0  71303.0  65503.0  24231.0  97818.0
1994 total    9615.0  71303.0  65503.0  24231.0  97818.0
     under18  9615.0  71303.0  65503.0  24231.0  97818.0
1995 total    9615.0  71303.0  65503.0  24231.0  97818.0
     under18  9615.0  71303.0  65503.0  24231.0  97818.0
1996 total    9615.0  71303.0  65503.0  24231.0  97818.0
     under18  9615.0  71303.0  65503.0  24231.0  97818.0
1997 total    9615.0  71303.0  65503.0  24231.0  97818.0

You can switch the row and column index using the transpose function `.T`

In [79]:
final.unstack(level=0).T

year                           1990              1991              1992  \
ages                          total  under18    total  under18    total
              state/region
index         AK                 48       49       55       51       50
              AL                 47       46       44       45       43
              AR                145      144      146      147      149
              AZ                143      142      140      139      141
              CA                239      238      234      235      237
...                             ...      ...      ...      ...      ...
area (sq. mi) VT             9615.0   9615.0   9615.0   9615.0   9615.0
              WA            71303.0  71303.0  71303.0  71303.0  71303.0
              WI            65503.0  65503.0  65503.0  65503.0  65503.0
              WV            24231.0  24231.0  24231.0  24231.0  24231.0
              WY            97818.0  97818.0  97818.0  97818.0  97818.0

year                                    1993              1994           \
ages                        under18    total  under18    total  under18
              state/region
index         AK                 52       56       57       53       54
              AL                 42       39       40       38       41
              AR                148      152      153      151      150
              AZ                138      134      135      137      136
              CA                236      230      231      233      232
...                             ...      ...      ...      ...      ...
area (sq. mi) VT             9615.0   9615.0   9615.0   9615.0   9615.0
              WA            71303.0  71303.0  71303.0  71303.0  71303.0
              WI            65503.0  65503.0  65503.0  65503.0  65503.0
              WV            24231.0  24231.0  24231.0  24231.0  24231.0
              WY            97818.0  97818.0  97818.0  97818.0  97818.0

year                           1995              1996              1997  \
ages                          total  under18    total  under18    total
              state/region
index         AK                 58       59       60       61       65
              AL                 35       36       34       37       33
              AR                155      154      157      156      159
              AZ                132      133      131      130      128
              CA                228      229      227      226      225
...                             ...      ...      ...      ...      ...
area (sq. mi) VT             9615.0   9615.0   9615.0   9615.0   9615.0
              WA            71303.0  71303.0  71303.0  71303.0  71303.0
              WI            65503.0  65503.0  65503.0  65503.0  65503.0
              WV            24231.0  24231.0  24231.0  24231.0  24231.0
              WY            97818.0  97818.0  97818.0  97818.0  97818.0

year                                    1998              1999           \
ages                        under18    total  under18    total  under18
              state/region
index         AK                 62       64       63       67       66
              AL                 32       30       31       27       26
              AR                160      161      158      165      164
              AZ                129      126      127      123      122
              CA                224      223      222      219      218
...                             ...      ...      ...      ...      ...
area (sq. mi) VT             9615.0   9615.0   9615.0   9615.0   9615.0
              WA            71303.0  71303.0  71303.0  71303.0  71303.0
              WI            65503.0  65503.0  65503.0  65503.0  65503.0
              WV            24231.0  24231.0  24231.0  24231.0  24231.0
              WY            97818.0  97818.0  97818.0  97818.0  97818.0

year                           2000              2001              2002  \
ages                          total  under18    total  under18    total
              state/region
index         AK                 68       69       70       71       72
              AL                 28       29       22       23       24
              AR                162      163      168      169      166
              AZ                124      125      118      119      120
              CA                220      221      214      215      216
...                             ...      ...      ...      ...      ...
area (sq. mi) VT             9615.0   9615.0   9615.0   9615.0   9615.0
              WA            71303.0  71303.0  71303.0  71303.0  71303.0
              WI            65503.0  65503.0  65503.0  65503.0  65503.0
              WV            24231.0  24231.0  24231.0  24231.0  24231.0
              WY            97818.0  97818.0  97818.0  97818.0  97818.0

year                                    2003              2004           \
ages                        under18    total  under18    total  under18
              state/region
index         AK                 73       74       75       76       77
              AL                 25       20       21       18       19
              AR                167      172      173      170      171
              AZ                121      116      117      114      115
              CA                217      210      211      212      213
...                             ...      ...      ...      ...      ...
area (sq. mi) VT             9615.0   9615.0   9615.0   9615.0   9615.0
              WA            71303.0  71303.0  71303.0  71303.0  71303.0
              WI            65503.0  65503.0  65503.0  65503.0  65503.0
              WV            24231.0  24231.0  24231.0  24231.0  24231.0
              WY            97818.0  97818.0  97818.0  97818.0  97818.0

year                           2005              2006              2007  \
ages                          total  under18    total  under18    total
              state/region
index         AK                 78       79       80       81       82
              AL                 14       15       16       17       10
              AR                176      177      174      175      180
              AZ                110      111      112      113      106
              CA                206      207      208      209      202
...                             ...      ...      ...      ...      ...
area (sq. mi) VT             9615.0   9615.0   9615.0   9615.0   9615.0
              WA            71303.0  71303.0  71303.0  71303.0  71303.0
              WI            65503.0  65503.0  65503.0  65503.0  65503.0
              WV            24231.0  24231.0  24231.0  24231.0  24231.0
              WY            97818.0  97818.0  97818.0  97818.0  97818.0

year                                    2008              2009           \
ages                        under18    total  under18    total  under18
              state/region
index         AK                 83       84       85       88       89
              AL                 11       12       13        6        7
              AR                181      178      179      182      183
              AZ                107      108      109      104      105
              CA                203      204      205      200      201
...                             ...      ...      ...      ...      ...
area (sq. mi) VT             9615.0   9615.0   9615.0   9615.0   9615.0
              WA            71303.0  71303.0  71303.0  71303.0  71303.0
              WI            65503.0  65503.0  65503.0  65503.0  65503.0
              WV            24231.0  24231.0  24231.0  24231.0  24231.0
              WY            97818.0  97818.0  97818.0  97818.0  97818.0

year                           2010              2011              2012  \
ages                          total  under18    total  under18    total
              state/region
index         AK                 91       90       93       92       95
              AL                  3        2        5        4        1
              AR                189      188      187      186      191
              AZ                101      100       99       98       97
              CA                197      196      195      194      193
...                             ...      ...      ...      ...      ...
area (sq. mi) VT             9615.0   9615.0   9615.0   9615.0   9615.0
              WA            71303.0  71303.0  71303.0  71303.0  71303.0
              WI            65503.0  65503.0  65503.0  65503.0  65503.0
              WV            24231.0  24231.0  24231.0  24231.0  24231.0
              WY            97818.0  97818.0  97818.0  97818.0  97818.0

year                                    2013
ages                        under18    total  under18
              state/region
index         AK                 94       87       86
              AL                  0        9        8
              AR                190      185      184
              AZ                 96      103      102
              CA                192      199      198
...                             ...      ...      ...
area (sq. mi) VT             9615.0   9615.0   9615.0
              WA            71303.0  71303.0  71303.0
              WI            65503.0  65503.0  65503.0
              WV            24231.0  24231.0  24231.0
              WY            97818.0  97818.0  97818.0

[212 rows x 48 columns]

### Pivoting
Pivoting is another advanced way to transform data. It creates a new dataframe using the values of columns as `index` and `column` values. 

You can then aggregate using `aggfunc` the elements of another column, which becomes the `values` of this new dataframe.

In [80]:
# let's create a table which lists all pokemon for given type combinations
pokedex_df.pivot_table(values='Pokemon', # line breaks within parentheses automatically continue onto next line
                       index='Type I', # values of Type I become index entries
                       columns='Type II', # likewise Type II become columns
                       aggfunc=lambda x:", ".join(x)).fillna('') # the lambda function here just joins a list of strings using a comma
                      # we also fill nan values with empty string for aesthetics

Type II,,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
Type I,,,,,,,,,,,,,,,,,,,
Bug,"Caterpie, Metapod, Pinsir, Pineco, Wurmple, Si...",,,,"Joltik, Galvantula, Charjabug, Vikavolt","Cutiefly, Ribombee","Heracross, Buzzwole, Pheromosa","Larvesta, Volcarona","Butterfree, Scyther, Ledyba, Ledian, Yanma, Be...",Shedinja,"Paras, Parasect, Wormadam (P), Sewaddle, Swadl...","Nincada, Wormadam (S)",,,"Weedle, Kakuna, Beedrill, Venonat, Venomoth, S...",,"Shuckle, Dwebble, Crustle","Forretress, Scizor, Wormadam (T), Escavalier, ...","Surskit, Wimpod, Golisopod"
Dark,"Umbreon, Poochyena, Mightyena, Absol, Darkrai,...",,,"Deino, Zweilous, Hydreigon, Guzzlord",,,"Scraggy, Scrafty","Houndour, Houndoom","Murkrow, Honchkrow, Vullaby, Mandibuzz, Yveltal",Sableye,,,"Sneasel, Weavile",,,"Inkay, Malamar",,"Pawniard, Bisharp",
Dragon,"Dratini, Dragonair, Bagon, Shelgon, Axew, Frax...",,,,Zekrom,,"Hakamo-o, Kommo-o",Reshiram,"Dragonite, Altaria, Salamence, Rayquaza",,,"Gible, Gabite, Garchomp, Zygarde",Kyurem,,,"Latias, Latios",,,
Electric,"Pikachu, Raichu, Voltorb, Electrode, Electabuz...",,,,,"Dedenne, Tapu Koko",,Rotom (Heat),"Zapdos, Rotom (Spin), Emolga, Thundurus",Rotom,Rotom (Cut),,Rotom (Frost),"Helioptile, Heliolisk",,,,"Magnemite, Magneton, Magnezone, Togedemaru",Rotom (Wash)
Fairy,"Clefairy, Clefable, Cleffa, Togepi, Snubbull, ...",,,,,,,,"Togetic, Togekiss",,,,,,,,,,
Fighting,"Mankey, Primeape, Machop, Machoke, Machamp, Hi...",,Pangoro,,,,,,Hawlucha,Marshadow,,,Crabominable,,,"Meditite, Medicham",,Lucario,
Fire,"Charmander, Charmeleon, Vulpix, Ninetales, Gro...",,Incineroar,Turtonator,,,"Combusken, Blaziken, Monferno, Infernape, Pign...",,"Charizard, Moltres, Ho-oh, Fletchinder, Talonf...",,,"Numel, Camerupt",,"Litleo, Pyroar",,"Darmanitan (Z), Delphox",Magcargo,Heatran,Volcanion
Flying,Tornadus,,,"Noibat, Noivern",,,,,,,,,,,,,,,
Ghost,"Misdreavus, Shuppet, Banette, Duskull, Dusclop...",,Spiritomb,"Giratina, Giratina (O)",,Mimikyu,,"Litwick, Lampent, Chandelure","Drifloon, Drifblim",,"Phantump, Trevenant, Pumpkaboo, Gourgeist, Dhe...","Sandygast, Palossand",,,"Gastly, Haunter, Gengar",,,,
Grass,"Tangela, Chikorita, Bayleef, Meganium, Belloss...",,"Nuzleaf, Shiftry, Cacturne",,,"Cottonee, Whimsicott, Morelull, Shiinotic, Tap...","Breloom, Virizion, Chesnaught",,"Hoppip, Skiploom, Jumpluff, Tropius, Shaymin (...",Decidueye,,Torterra,,,"Bulbasaur, Ivysaur, Venusaur, Oddish, Gloom, V...","Exeggcute, Exeggutor",,"Ferroseed, Ferrothorn, Kartana",
Ground,"Sandshrew, Sandslash, Diglett, Dugtrio, Cubone...",,"Sandile, Krokorok, Krookodile","Vibrava, Flygon",Stunfisk,,,,"Gligar, Gliscor, Landorus","Golett, Golurk",,,,,,"Baltoy, Claydol","Rhyhorn, Rhydon, Rhyperior",Excadrill,
Ice,"Snorunt, Glalie, Regice, Glaceon, Vanillite, V...",,,,,,,,"Articuno, Delibird",Froslass,"Snover, Abomasnow","Swinub, Piloswine, Mamoswine",,,,"Jynx, Smoochum",,,"Spheal, Sealeo, Walrein"
Normal,"Rattata, Raticate, Meowth, Persian, Lickitung,...",,,Drampa,,"Jigglypuff, Wigglytuff, Igglybuff, Azurill","Meloetta (P), Stufful, Bewear",,"Pidgey, Pidgeotto, Pidgeot, Spearow, Fearow, F...",,"Deerling, Sawsbuck",Diggersby,,,,"Girafarig, Meloetta (A), Oranguru",,,Bibarel
Poison,"Ekans, Arbok, Nidoran♀, Nidorina, Nidoran♂, Ni...",Skorupi,"Stunky, Skuntank, Drapion",Dragalge,,,"Croagunk, Toxicroak","Salandit, Salazzle","Zubat, Golbat, Crobat",,,"Nidoqueen, Nidoking",,,,,,,"Skrelp, Mareanie, Toxapex"
Psychic,"Abra, Kadabra, Alakazam, Drowzee, Hypno, Mewtw...",,Hoopa (U),,,"Mr. Mime, Ralts, Kirlia, Gardevoir, Mime Jr., ...",Gallade,Victini,"Natu, Xatu, Lugia, Woobat, Swoobat, Sigilyph","Hoopa (C), Lunala",Celebi,,,,,,,Solgaleo,
Rock,"Sudowoodo, Nosepass, Regirock, Cranidos, Rampa...","Anorith, Armaldo",Tyranitar,"Tyrunt, Tyrantrum",,"Carbink, Diancie",Terrakion,,"Aerodactyl, Archen, Archeops, Minior (meteor),...",,"Lileep, Cradily","Geodude, Graveler, Golem, Onix, Larvitar, Pupitar","Amaura, Aurorus",,Nihilego,"Lunatone, Solrock",,"Shieldon, Bastiodon, Probopass","Omanyte, Omastar, Kabuto, Kabutops, Binacle, B..."
Steel,"Registeel, Klink, Klang, Klinklang",,,Dialga,,"Mawile, Klefki, Magearna",Cobalion,,"Skarmory, Celesteela","Honedge, Doublade, Aegislash",,Steelix,,,,"Beldum, Metang, Metagross, Jirachi, Bronzor, B...","Aron, Lairon, Aggron",,
Water,"Squirtle, Wartortle, Blastoise, Psyduck, Goldu...","Dewpider, Araquanid","Carvanha, Sharpedo, Crawdaunt, Greninja","Kingdra, Palkia","Chinchou, Lanturn","Marill, Azumarill, Primarina, Tapu Fini","Poliwrath, Keldeo",,"Gyarados, Mantine, Wingull, Pelipper, Mantyke,...","Frillish, Jellicent","Lotad, Lombre, Ludicolo","Wooper, Quagsire, Marshtomp, Swampert, Barboac...","Dewgong, Cloyster, Lapras",,"Tentacool, Tentacruel, Qwilfish","Slowpoke, Slowbro, Starmie, Slowking, Bruxish","Corsola, Relicanth, Tirtouga, Carracosta",Empoleon,

In [96]:
pokedex_df.columns

Index(['Pokemon', 'HP', 'Atk', 'Def', 'SpAtk', 'SpDef', 'Speed', 'Total',
       'Type I', 'Type II', 'Ability I', 'Ability II', 'Hidden Ability',
       'Color', 'Nickname'],
      dtype='object')

In [ ]:
#Short Exercise: Which Pokemon Type I has the highest HP?
my_table = pokedex_df.pivot_table(values='Pokemon', # line breaks within parentheses automatically continue onto next line
                       index='Type I', # values of Type I become index entries
                       columns='HP', # likewise Type II become columns
                       aggfunc=lambda x:", ".join(x)).fillna('-') # the lambda function here just joins a list of strings using a comma
                      # we also fill nan values with empty string for aesthetics
#Type II
my_table

In [ ]:
# compute the average stats for each type combination
pokedex_df.unstack()
pokedex_df.pivot_table(values='Total',
                       index='Type I', 
                       columns='Type II', 
                       aggfunc=lambda x: np.mean(x)).fillna('')
#Mean is

In [ ]:
pokedex_df.columns

In [ ]:
# You can compute multiple aggregations on multiple columns by passing a dict
# into the aggfunc argument: aggfunc={'column_name':[list_of_function_names]}
# Note that in this case, the 'value' argument is ignored
pokedex_df.pivot_table(index='Type I', 
                       columns='Type II', 
                       aggfunc={'Total':[lambda x: np.mean(x),lambda x: np.std(x)], 
                                'Atk':[lambda x: np.mean(x),lambda x: np.std(x)]}).fillna('/')

# Exercise
Using this data (or any other data you're interested in and you find online), put together an analysis using pandas that investigates an interesting question.

It can be serious or silly. Like "Do states with higher population density tend to vote democratic?" (you'd need to pull additional data for this) or "Do pokemon whose names start with the letter D have better stats than those who start with F?"

We'll ask some volunteers to present their analysis at the end

In [98]:
#How has the 3 point 
data_NBA = pd.read_csv('Player Per Game.csv',index_col=['season'])
data_NBA.head()

,seas_id,player_id,player,birth_year,pos,age,experience,lg,tm,g,gs,mp_per_game,fg_per_game,fga_per_game,fg_percent,x3p_per_game,x3pa_per_game,x3p_percent,x2p_per_game,x2pa_per_game,x2p_percent,e_fg_percent,ft_per_game,fta_per_game,ft_percent,orb_per_game,drb_per_game,trb_per_game,ast_per_game,stl_per_game,blk_per_game,tov_per_game,pf_per_game,pts_per_game
season,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2024,31136,5025,A.J. Green,NaN,SG,24.0,2,NBA,MIL,56,0.0,11.0,1.5,3.5,0.423,1.2,3.0,0.408,0.3,0.5,0.519,0.599,0.3,0.3,0.895,0.2,1.0,1.1,0.5,0.2,0.1,0.2,0.9,4.5
2024,31137,5026,A.J. Lawson,NaN,SG,23.0,2,NBA,DAL,42,0.0,7.4,1.3,2.9,0.446,0.3,1.2,0.260,1.0,1.7,0.577,0.500,0.4,0.5,0.652,0.3,0.9,1.2,0.5,0.2,0.1,0.3,0.5,3.2
2024,31138,5027,AJ Griffin,NaN,SF,20.0,2,NBA,ATL,20,0.0,8.6,0.9,3.1,0.290,0.5,2.0,0.256,0.4,1.2,0.348,0.371,0.1,0.1,1.000,0.1,0.8,0.9,0.3,0.1,0.1,0.4,0.3,2.4
2024,31139,4219,Aaron Gordon,NaN,PF,28.0,10,NBA,DEN,73,73.0,31.5,5.5,9.8,0.556,0.5,1.9,0.290,4.9,7.9,0.619,0.584,2.4,3.7,0.658,2.4,4.1,6.5,3.5,0.8,0.6,1.4,1.9,13.9
2024,31140,4582,Aaron Holiday,NaN,PG,27.0,6,NBA,HOU,78,1.0,16.3,2.4,5.3,0.446,1.1,2.8,0.387,1.3,2.6,0.510,0.547,0.7,0.8,0.921,0.3,1.3,1.6,1.8,0.5,0.1,0.7,1.6,6.6

In [116]:
#experience VS points per game for 2024 season
player_stat_ = data_NBA[['player','experience','pts_per_game']]
# player_stats_sum = data_NBA[['season','player',

# player_stat_.groupby(['season'])
player_stat_ =player_stat_.query('season == 2024')

player_stat_ =player_stat_.pivot_table(values='player',
                       index='experience', 
                       columns='pts_per_game',
                       aggfunc=lambda x:", ".join(x)).fillna('/')

player_stat_

pts_per_game,0.0,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1.0,1.1,1.2,1.3,1.4,1.5,1.6,1.7,1.8,2.0,2.1,2.2,2.3,2.4,2.5,2.6,2.7,...,22.2,22.5,22.6,22.7,22.9,23.0,23.2,23.7,23.9,24.0,24.3,24.7,25.1,25.6,25.7,25.9,26.4,26.6,26.9,27.1,28.7,30.1,30.4,33.9,34.7
experience,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,"Andrew Funk, Dmytro Skapintsev, Filip Petrušev...",Maxwell Lewis,Pete Nance,E.J. Liddell,/,"Jalen Slawson, Pat Spencer",/,/,"Alex Fudge, Filip Petrušev",Hunter Tyson,"Chris Livingston, Keyontae Johnson",Nathan Mensah,"Jacob Toppin, Jermaine Samuels","Adam Flagler, Colin Castleton, Dariq Whitehead...","Jalen Hood-Schifino, Jalen Pickett, Jett Howar...","Jordan Walsh, Leonard Miller",/,"D'Moi Hodge, Isaiah Wong, Jordan Ford, Kobe Br...",Colby Jones,"Andre Jackson Jr., Julian Phillips",Amari Bailey,Mouhamadou Gueye,"Alex Fudge, Tosan Evbuomwan",Timmy Allen,"Emoni Bates, Leaky Black, Malik Williams",...,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/
2,"Jacob Gilyard, Javonte Smart, Ron Harper Jr.",/,/,/,/,"Alondes Williams, Quenton Jackson, Wendell Moo...",/,/,"Kenneth Lofton Jr., Ryan Rollins",/,/,"David Roddy, TyTy Washington Jr.",Kendall Brown,Jack White,Josh Minott,"Jamaree Bouyea, Jason Preston",Justin Minaya,"JD Davison, Kevon Harris",/,/,"Cole Swider, Dereon Seabron, Isaiah Mobley, Ja...",AJ Griffin,/,"Kenneth Lofton Jr., Moussa Diabaté",/,...,/,/,Paolo Banchero,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/
3,Marques Bolden,/,/,Usman Garuba,/,/,Ish Wainright,/,Joshua Primo,Braxton Key,Jay Huff,/,Mason Jones,Terry Taylor,/,Kessler Edwards,Daishen Nix,"Jericho Sims, Lindell Wigginton","Ish Wainright, Jaden Springer",Nate Hinton,"Dalano Banton, Olivier Sarr",Xavier Moon,Greg Brown III,/,/,...,/,Cam Thomas,/,Cade Cunningham,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/
4,"Kira Lewis Jr., Mamadi Diakite",Harry Giles,/,/,/,/,"Charlie Brown Jr., DaQuan Jeffries",/,Dylan Windler,Admiral Schofield,Aleksej Pokusevski,"R.J. Hampton, Skylar Mays, Théo Maledon",Jerome Robinson,Dylan Windler,/,/,/,Mamadi Diakite,/,"Malachi Flynn, Trent Forrest, Udoka Azubuike",Chuma Okeke,Harry Giles,Dylan Windler,/,/,...,/,/,/,/,Zion Williamson,/,/,Desmond Bane,LaMelo Ball,/,/,/,/,/,/,"Anthony Edwards, Tyrese Maxey",/,/,/,/,/,/,/,/,/
5,Darius Bazley,/,/,/,Juan Toscano-Anderson,/,/,/,/,/,/,/,/,/,/,/,/,Ty Jerome,/,/,/,/,/,/,/,...,/,/,/,/,/,/,/,/,/,/,/,/,Ja Morant,/,/,/,/,/,/,/,/,/,/,/,/
6,/,/,/,/,/,/,/,Thanasis Antetokounmpo,Hamidou Diallo,/,/,/,/,/,Keita Bates-Diop,/,Shake Milton,/,/,/,/,/,/,Yuta Watanabe,/,...,/,Jaren Jackson Jr.,Anfernee Simons,/,/,/,/,/,/,/,/,/,/,/,Trae Young,/,/,/,/,/,Jalen Brunson,Shai Gilgeous-Alexander,/,Luka Dončić,/
7,"Justin Jackson, Ryan Arcidiacono",/,/,/,/,Shaquille Harrison,/,/,Frank Ntilikina,/,/,/,/,/,/,/,/,Daniel Theis,/,/,/,/,Furkan Korkmaz,/,/,...,Kyle Kuzma,Dejounte Murray,/,/,/,/,Lauri Markkanen,/,/,/,/,/,/,/,/,/,/,"De'Aaron Fox, Donovan Mitchell",Jayson Tatum,/,/,/,/,/,/
8,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,Damian Jones,...,Pascal Siakam,/,/,/,/,Jaylen Brown,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,Joel Embiid
9,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,...,/,/,/,/,/,/,Terry Rozier,/,/,/,/,/,/,/,/,/,Nikola Jokić,/,/,Devin Booker,/,/,/,/,/
10,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,Joe Harris,/,/,/,...,/,/,/,/,/,/,/,/,/,Julius Randle,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/
11,/,/,/,/,/,/,/,/,/,Mike Muscala,/,/,/,/,/,/,Cody Zeller,/,/,Reggie Bullock,/,/,Alex Len,Otto Porter Jr.,/,...,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,Giannis Antetokounmpo,/,/
12,/,/,/,/,/,/,/,/,/,/,/,Isaiah Thomas,/,/,/,/,/,/,/,/,/,/,/,/,/,...,/,/,/,/,/,/,/,Kawhi Leonard,/,/,Damian Lillard,Anthony Davis,/,/,/,/,/,/,/,/,/,/,/,/,/
13,/,/,/,/,/,/,/,/,/,/,/,/,/,/,P.J. Tucker,P.J. Tucker,Bismack Biyombo,P.J. Tucker,/,/,/,Cory Joseph,Markieff Morris,/,/,...,/,/,/,/,/,/,/,/,/,/,/,/,/,Kyrie Irving,/,/,/,/,/,/,/,/,/,/,/
14,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,...,/,/,Paul George,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/
15,Danny Green,/,/,/,/,/,/,James Johnson,Taj Gibson,/,/,/,/,/,/,Taj Gibson,/,/,/,/,/,/,/,/,Patty Mills,...,/,/,/,/,/,/,/,/,/,DeMar DeRozan,/,/,/,/,/,/,Stephen Curry,/,/,/,/,/,/,/,/
16,/,/,/,/,/,/,/,/,/,Robin Lopez,/,/,/,/,/,/,/,/,/,/,/,/,/,/,Nicolas Batum,...,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,Kevin Durant,/,/,/,/,/
17,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,Thaddeus Young,/,/,/,/,...,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/
18,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,...,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/
19,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,...,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/
21,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,/,...,/,/,/,/,/,/,/,/,/,/,/,/,/,/,LeBron James,/,/,/,/,/,/,/,/,/,/